<div class="comment comment-list-by-me">
  <div class="list-empty" *ngIf="comments.length==0">评论列表为空</div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let c of comments">
      <h4 class="user-name font16">用户名</h4>
      <p class="comment-cont mgb6 font16">评论内容</p>
      <div class="score-summary" *ngIf="c.averageScore">
        <ul class="stars-list clearfix">
          <li *ngFor="let s of averageScore; let i = index;"><i class="fa" [class.fa-star-o]="(i+1)>c.averageScore" [class.fa-star]="((i+1) < c.averageScore) || ((i+1) == c.averageScore)" [class.fa-star-half-o]="(i+1)>c.averageScore && i < c.averageScore"></i></li>
        </ul>
        <p class="score-text"><span>及时性：{{c.scoreOnTimeliness}}</span><span>准确性：{{c.scoreOnAccuracy}}</span><span>规范性：{{c.scoreOnNormalization}}</span><span>完整性：{{c.scoreOnIntegrity}}</span></p>
      </div>
      <p class="product-name">万德</p>
      <p>评论时间：2017.7.15</p>
    </li>
  </ul>
</div>
