<div class="ysl-info-wrapper comment-list-by-me">
  <div class="list-empty" *ngIf="!comments['items']?.length">评论列表为空</div>
  <div *ngIf="comments['items']?.length">
    <ul class="ysl-list-group">
      <li class="ysl-list-item" *ngFor="let c of comments['items']  | paginate: {itemsPerPage: pagination['limit'],
                                                      currentPage: currPage,
                                                      totalItems: comments.totalLength}">
        <h4 class="user-name font16">{{c.userName}} <button class="btn remove-btn" (click)="deleteMyComment(c)">删除</button></h4>
        <p class="comment-cont mgb6 font16"><span *ngIf="c.remark">{{c.remark}}</span><span *ngIf="!c.remark">该用户未写评语</span></p>
        <div class="score-summary" *ngIf="c.averageScore">
          <ul class="stars-list clearfix">
            <li *ngFor="let s of averageScore; let i = index;"><i class="fa" [class.fa-star-o]="(i+1)>c.averageScore" [class.fa-star]="((i+1) < c.averageScore) || ((i+1) == c.averageScore)" [class.fa-star-half-o]="(i+1)>c.averageScore && i < c.averageScore"></i></li>
          </ul>
          <p class="score-text"><span>及时性：{{c.scoreOnTimeliness}}</span><span>准确性：{{c.scoreOnAccuracy}}</span><span>规范性：{{c.scoreOnNormalization}}</span><span>完整性：{{c.scoreOnIntegrity}}</span></p>
        </div>
        <p class="product-name" (click)="toProductDetail(c)"><a>{{c.productName}}</a></p>
        <p>评论时间：{{c.createdOn}}</p>
      </li>
    </ul>
    <pagination-controls class="hidden-xs" (pageChange)="toNextPage($event);"
                         autoHide="true"
                         previousLabel="上一页"
                         nextLabel="下一页"></pagination-controls>
    <pagination-controls class="visible-xs-block" (pageChange)="toNextPage($event);"
                         autoHide="true"
                         previousLabel="<"
                         nextLabel=">"></pagination-controls>
  </div>
</div>
