<div class="comment comment-list">
  <div class="list-empty" *ngIf="!comments['items']?.length">评论列表为空</div>
  <div *ngIf="comments['items']?.length">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let c of comments['items'] | paginate: {itemsPerPage: pagination['limit'],
                                                      currentPage: currPage,
                                                      totalItems: comments.totalLength}">
        <h4 class="user-name font16">{{c.userName}}</h4>
        <p class="comment-cont mgb6 font16"><span *ngIf="c.remark">{{c.remark}}</span><span *ngIf="!c.remark">该用户未写评语</span></p>
        <p class="product-name">{{c.productName}}</p>
        <p>评论时间：{{c.createdOn}}</p>
      </li>
    </ul>
    <pagination-controls class="hidden-xs" (pageChange)="toNextPage($event);"
                         autoHide="true"
                         previousLabel="上一页"
                         nextLabel="下一页"></pagination-controls>
    <pagination-controls class="visible-xs-block" (pageChange)="toNextPage($event);"
                         autoHide="true"
                         previousLabel="<"
                         nextLabel=">"></pagination-controls>
  </div>
</div>
