.ysl-sidebar-nav{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
}
.ysl-sidebar-item{
  width: 100%;
  line-height:50px;
  font-size: 16px;
  padding:0 25px;
  text-align: justify;
  cursor: pointer;
  outline:none;
  position: relative;
}
.user-arrow{
  margin-left: 66px;
}
.active{
  background: #39baf6;
  color: #fff;
}
.ysl-sidebar-sub{
  position: absolute;
  top:50px;
  left:0;
  width: 100% ;
  background: #f3f8fa;
  color: #666;
  text-align: center;
  outline: none;
}
.ysl-sidebar-sub li{
  outline: none;
  width: 100%;
  line-height:50px;
}
