<div class="my-product-import">
  <form (ngSubmit)="doProductSubmit(productForm)" id="productForm" #productForm="ngForm">
    <div class="product-import-info">
      <p class="product-info">产品信息</p>

      <div class="product-import-item product-import-item-name">
        <span class="asterisk">*</span>
        <input maxlength="32" required [(ngModel)]="product.name" [pattern]="pattern" #name name="name"
               id="name" class="product-import-name" placeholder="名称 (必填项)" style="padding-right: 40px;">
        <div class="word-count-product-name">{{name.value.length}}&nbsp;/&nbsp;32</div>
        <span style="color: red;" *ngIf="(name.validity.patternMismatch)">名称不能为空且不要包含中英文 ，。；,.; 的逗号句号分号</span>
      </div>

      <div class="product-import-item" style="position: relative;padding-bottom: 4px;">
        <textarea class="product-description" name="description" rows="3"
                  maxlength="1000" id="description"
                  [(ngModel)]="product.description" name="description" #description placeholder="简介"></textarea>
        <div class="word-count-description">
          {{description.value.length}}&nbsp;/&nbsp;1000
        </div>
      </div>

      <div class="product-import-item" style="position: relative;">
        <span><input type="text" id="webSite" [(ngModel)]="product.webSite" name="webSite" class="product-webSite"
                     #webSite placeholder="官网（以http://或https://开头）" [pattern]="websitePattern" maxlength="256"></span>
        <div class="word-count-description">{{webSite.value.length}}&nbsp;/&nbsp;256</div>
        <span style="color: red;" *ngIf="(webSite.validity.patternMismatch)">请输入正确的网址（以http://或https://开头）</span>
      </div>

      <div>
        <div>
          <div class="select-flex">
            <md-select placeholder="数据来源" [(ngModel)]="product.dataSource"
                       name="dataSource" class="select1">
              <md-option *ngFor="let dataSource of dataSources" [value]="dataSource.value">
                {{dataSource.viewValue}}
              </md-option>
            </md-select>

            <md-select placeholder="数据类型" [(ngModel)]="product.dataCategory"
                       name="dataCategory" class="select1">
              <md-option *ngFor="let dataCategory of dataCategories" [value]="dataCategory.value">
                {{dataCategory.viewValue}}
              </md-option>
            </md-select>

            <md-select placeholder="采集方式" [(ngModel)]="product.collectionMethod"
                       name="collectionMethod" class="select1">
              <md-option *ngFor="let dataCollection of dataCollections" [value]="dataCollection.value">
                {{dataCollection.viewValue}}
              </md-option>
            </md-select>

            <md-select placeholder="服务方式" [(ngModel)]="product.serviceMethod"
                       name="serviceMethod" class="select1">
              <md-option *ngFor="let dataService of dataServices" [value]="dataService.value">
                {{dataService.viewValue}}
              </md-option>
            </md-select>
          </div>
        </div>
      </div>
    </div>

    <div class="product-import-info">
      <p class="product-info">数据样本</p>
      <div class="product-import-item2" style="padding: 0px 30px 10px 30px;">
        <div class="file-list-group" *ngIf="uploader?.queue?.length!==0">
          <div class="file-info">
            <span>{{uploader.queue[uploader.queue.length - 1]?.file?.name}}</span>
            <span>{{uploader.queue[uploader.queue.length - 1]?.file.size / 1024 / 1024 | number:'.2'}} MB</span>
          </div>
          <div class="ysl-btn-group">
            <span class="ysl-btn ysl-btn-xs btn-danger" (click)="cancelFile()">取消</span>
          </div>
        </div>
        <input #uploadEl id="upload" ng2FileSelect type="file" name="upload"
               [uploader]="uploader">
        <label for="upload">
          <span>选择文件&hellip;</span>
        </label>
      </div>

      <!--<div class="product-import-item2" style="padding: 0 30px 10px 30px;">-->
        <!--<input id="upload" ng2FileSelect type="file" name="upload" [uploader]="uploader"-->
               <!--(change)="selectedFileChange($event)">-->
        <!--<label for="upload">-->
          <!--<span *ngIf="uploader?.queue?.length===0"> 上传文件&hellip;</span>-->
          <!--<span>{{uploader.queue[uploader.queue.length - 1]?.file?.name}}</span>-->
          <!--<span>{{uploader.queue[uploader.queue.length - 1]?.file.size / 1024 / 1024 | number:'.2'}} MB</span>-->
        <!--</label>-->
        <!--<div class="progress" style="margin-bottom: 0;" *ngIf="uploader?.queue?.length!==0">-->
          <!--<div class="progress-bar" role="progressbar"-->
               <!--[ngStyle]="{ 'width': uploader.queue[uploader.queue.length - 1].progress + '%' }">-->
            <!--{{uploader.queue[this.uploader.queue.length - 1].progress + '%'}}-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>

    <div class="product-import-info">
      <p class="product-info">是否收费</p>
      <div class="product-import-item2">
        <!--<md-radio-group [(ngModel)]="product.premium" name="premium">-->
          <!--<md-radio-button *ngFor="let item of radioItems" [value]="item.value" [disableRipple]="isDisableRipple">-->
            <!--<span class="product-import-checkbox">{{item.viewValue}}&nbsp;&nbsp;</span>-->
          <!--</md-radio-button>-->
        <!--</md-radio-group>-->
        <span class="checkbox-inline" *ngFor="let item of premiumChecked; let ind = index;">
          <label><input type="checkbox" [(ngModel)]="item.value" name="premium" [value]="item.value" [checked]="item.checked" (click)="transRadio2(ind)">{{item.text}}</label>
        </span>
      </div>
    </div>

    <div class="product-import-info">
      <p class="product-info">时间范围</p>
      <div class="product-import-item2 product-import-date">
        <span style="display: inline-block;">
          <my-date-picker class="calendar" style="width: 140px;" name="timeFrom" [options]="myDatePickerOptions"
                          [(ngModel)]="timeFrom" (dateChanged)="onDateFromChanged($event)"></my-date-picker>
        </span>
        <span style="display: inline-block;top: -15px;position: relative;">&nbsp; &minus; &nbsp;</span>
        <span style="display: inline-block;">
        <my-date-picker class="calendar" style="width: 140px;" name="timeTo" [options]="myDatePickerOptions"
                        [(ngModel)]="timeTo" (dateChanged)="onDateToChanged($event)"></my-date-picker>
        </span>
      </div>
    </div>

    <!--<div class="product-import-info">-->
    <!--<p class="product-info">标签分类</p>-->
    <!--<div class="product-import-item2">-->

    <!-- old UI -->
    <!--<div class="ysl-import-tag">-->
    <!--<ul class="tagDimensions">-->
    <!--<li *ngFor="let item of tagDimensionsNew;let i=index">-->
    <!--<button type="button" class="ysl-btn btn-none" style="outline: none;" [class.isActive]="isActive === i"-->
    <!--(click)="changeTab(i)">-->
    <!--{{item.name}}-->
    <!--</button>-->
    <!--<ul class="secondTagDimensions" *ngIf="isActive == i">-->
    <!--<li *ngFor="let itemc of item.items" class="second-nav">-->
    <!--<input type="checkbox" [id]="[itemc.id]" [value]="[itemc.name]" [checked]="checkedTag(itemc.id)"-->
    <!--(click)="proTagImport(itemc.id)">-->
    <!--<label style="font-weight: initial;" [for]="[itemc.id]">{{itemc.name}}</label>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->

    <!-- new UI -->

    <div class="product-import-info">
      <p class="product-info">标签分类</p>
      <div class="product-import-item2">
        <md-tab-group class="" [disableRipple]="isDisableRipple">
          <md-tab label="{{item.name}}" *ngFor="let item of tagDimensionsNew;">
            <ul class="" style="background-color: #fff;">
              <li *ngFor="let itemc of item.items;let i=index" style="float: left;margin:10px 10px 0 0;">
                <label style="font-weight: initial;color:#999999;" [for]="[itemc.id]">
                  <input style="vertical-align: middle;margin: 0;" type="checkbox" [id]="[itemc.id]"
                         [value]="[itemc.name]" [checked]="itemc.checked"
                         (click)="setChecked(itemc.id)" name="tags">&nbsp;{{itemc.name}}</label>
              </li>
            </ul>
          </md-tab>
        </md-tab-group>
      </div>

    </div>

    <div class="product-import-btn">
      <button type="submit" class="btn btn-info product-import-saveBtn"
              [disabled]="!productForm.form.valid || isDisabled">保存
      </button>
      <button class="btn btn-default" (click)="goBackList()" style="color: #666666;">取消</button>
    </div>

  </form>
</div>
