<!--<div class="selected-filter">-->
<!--<md-input-container>-->
<!--<input mdInput type="text" placeholder="用户名" [(ngModel)]="pagingOption.userName">-->
<!--</md-input-container>-->

<!--<md-select placeholder="用户类型" [(ngModel)]="pagingOption.userType">-->
<!--<md-option *ngFor="let item of userTypes" [value]="item.value">-->
<!--{{item.viewValue}}-->
<!--</md-option>-->
<!--</md-select>-->
<!--<md-select placeholder="状态" [(ngModel)]="pagingOption.status">-->
<!--<md-option *ngFor="let item of status" [value]="item.value">{{item.viewValue}}</md-option>-->
<!--</md-select>-->
<!--<md-select placeholder="更新时间" [(ngModel)]="pagingOption.startModifiedOn">-->
<!--<md-option *ngFor="let item of modifiedDates" [value]="item.value">{{item.viewValue}}</md-option>-->
<!--</md-select>-->

<!--<button class="ysl-btn product-filter" style="background-color: #39baf6; color: #fff" md-button (click)="doFilter()">-->
<!--<i class="fa fa-search product-filter" aria-hidden="true"></i>&nbsp;搜索-->
<!--</button>-->
<!--<button class="" style="background-color: #39baf6; color: #fff;position: relative" md-button-->
<!--(click)="importProduct($event)"><i class="fa fa-edit"></i>&nbsp;录入产品-->
<!--</button>-->
<!--</div>-->
<div class="product-list">
  <div class="pro-list">

    <!--<ngx-datatable-->
    <!--style="margin-top: 20px;text-align: center;min-width: 1120px"-->
    <!--class="material"-->
    <!--[rows]="rows"-->
    <!--[columnMode]="'force'"-->
    <!--[headerHeight]="50"-->
    <!--[footerHeight]="50"-->
    <!--[rowHeight]="40"-->
    <!--[externalPaging]="true"-->
    <!--[externalSorting]="true"-->
    <!--[count]="count"-->
    <!--[limit]="pagingOption.limit"-->
    <!--[offset]="pageNumber"-->
    <!--[loadingIndicator]="isFinished"-->
    <!--[messages]="messages"-->
    <!--(activate)="onActivate($event)"-->
    <!--(page)="setProductsPage($event)"-->
    <!--(sort)="doProductsSort($event)">-->
    <!--<ngx-datatable-column-->
    <!--class="striped"-->
    <!--[width]="30"-->
    <!--[sortable]="false"-->
    <!--[canAutoResize]="false"-->
    <!--[draggable]="false"-->
    <!--[resizeable]="true">-->
    <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
    <!--<strong>{{row.$$index + 1}}</strong>-->
    <!--</ng-template>-->
    <!--</ngx-datatable-column>-->
    <!--<ngx-datatable-column [canAutoResize]="true" [width]="60" headerClass="is-name" [cellClass]="getCellNameClass"-->
    <!--name="名称" prop="name">-->
    <!--<ng-template let-row="row" let-value="name" ngx-datatable-cell-template>-->
    <!--<a [innerHTML]="row['name']" style="cursor: pointer;" (click)="doViewProductDetail(row)"></a>-->
    <!--</ng-template>-->
    <!--</ngx-datatable-column>-->
    <!--<ngx-datatable-column name="查看次数" prop="viewedCount" [width]="10">-->
    <!--<ng-template let-row="row" let-value="viewedCount" ngx-datatable-cell-template>-->
    <!--<span><i class="fa fa-eye"></i>&nbsp;&nbsp;&nbsp;<i [innerHTML]="row['viewedCount'] || 0"></i></span>-->
    <!--</ng-template>-->
    <!--</ngx-datatable-column>-->
    <!--<ngx-datatable-column name="收藏次数" prop="favoritedCount" [width]="10">-->
    <!--<ng-template let-row="row" let-value="favoritedCount" ngx-datatable-cell-template>-->
    <!--<span><i class="fa fa-star-o"></i>&nbsp;&nbsp;&nbsp;<i [innerHTML]="row['favoritedCount'] || 0"></i></span>-->
    <!--</ng-template>-->
    <!--</ngx-datatable-column>-->
    <!--<ngx-datatable-column name="点赞次数" prop="favoredCount" [width]="10">-->
    <!--<ng-template let-row="row" let-value="favoredCount" ngx-datatable-cell-template>-->
    <!--<span><i class="fa fa-thumbs-o-up"></i>&nbsp;&nbsp;&nbsp;<i [innerHTML]="row['favoredCount'] || 0"></i></span>-->
    <!--</ng-template>-->
    <!--</ngx-datatable-column>-->
    <!--<ngx-datatable-column [canAutoResize]="true" name="操作" prop="option" [width]="20">-->
    <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
    <!--<a href="javascript:;" style="text-decoration: none;margin-right: 10px" class="color-blue"-->
    <!--(click)="editProduct2(row)">修改</a>-->
    <!--</ng-template>-->
    <!--</ngx-datatable-column>-->
    <!--</ngx-datatable>-->


    <!--new ul li-->
    <div>
      <div class="selected-filter-list row fixpadding">
        <!--<md-input-container class="col-xs-6 col-sm-6 col-md-6 col-lg-3" style="padding-left: 0;padding-right: 15px;">-->
        <!--<input mdInput type="text" style="padding-right: 15px;" placeholder="用户名" [(ngModel)]="pagingOption.userName">-->
        <!--</md-input-container>-->

        <!--<md-select class="col-xs-6 col-sm-6 col-md-6  col-lg-2"-->
        <!--style="padding-top: 5px;padding-bottom: 15px;padding-left: 0;padding-right: 15px;" placeholder="用户类型"-->
        <!--[(ngModel)]="pagingOption.userType">-->
        <!--<md-option *ngFor="let item of userTypes" [value]="item.value">-->
        <!--{{item.viewValue}}-->
        <!--</md-option>-->
        <!--</md-select>-->
        <!--<md-select class="col-xs-6 col-sm-6 col-md-6  col-lg-2"-->
        <!--style="padding-top: 5px;padding-bottom: 15px;padding-left: 0;padding-right: 15px;" placeholder="状态"-->
        <!--[(ngModel)]="pagingOption.status">-->
        <!--<md-option *ngFor="let item of status" [value]="item.value">{{item.viewValue}}</md-option>-->
        <!--</md-select>-->
        <!--<md-select class="col-xs-6 col-sm-6 col-md-6  col-lg-2"-->
        <!--style="padding-top: 5px;padding-bottom: 15px;padding-left: 0;padding-right: 15px;" placeholder="更新时间"-->
        <!--[(ngModel)]="pagingOption.startModifiedOn">-->
        <!--<md-option *ngFor="let item of modifiedDates" [value]="item.value">{{item.viewValue}}</md-option>-->
        <!--</md-select>-->
        <!--<div class="col-xs-12 col-sm-6 col-md-12  col-lg-3" style="padding-left: 0;padding-right: 0;">-->
        <div class="product-import-my-btn">
          <a class="btn product-import-my-a"
             (click)="importProductNew($event)"><i class="fa fa-plus"></i><span class="import-product-text">&nbsp;录入产品</span>
          </a>
        </div>
        <!--<div style="float:right;width:50%;">-->
        <!--<button class="ysl-btn product-filter" style="background-color: #39baf6; color: #fff;border-radius: 5px;"-->
        <!--md-button-->
        <!--(click)="doFilter()"><i class="fa fa-search product-filter" aria-hidden="true"></i>&nbsp;搜索-->
        <!--</button>-->
        <!--</div>-->
        <!--</div>-->
      </div>

      <div>
        <ul class="list-group">
          <li *ngFor="let item of dataItems | paginate: { itemsPerPage: 10, currentPage: page, totalItems: count }"
              class="list-group-item row product-list-ul">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 product-list-name"
                 style="font-size: 14px;padding-top: 3.5px;"><span
              (click)="doViewProductDetail(item)">{{item.name}}</span></div>
            <div class="col-xs-10 col-sm-9 col-md-4 col-lg-4" style="padding-top: 3.5px">
              <span>
              <i class="fa fa-eye" style="color: #b8c5ce"></i><span class="product-list-fa-icon">&nbsp;{{item?.viewedCount}}</span>
              <i class="fa fa-star" style="color: #b8c5ce"></i><span class="product-list-fa-icon">&nbsp;{{item?.favoritedCount}}</span>
              <i class="fa fa-thumbs-up" style="color: #b8c5ce"></i><span class="product-list-fa-icon">&nbsp;{{item?.favoredCount}}</span>
                <span style="font-size: 12px;color: #a5aaad;padding:0 10px 0 5px;">{{item.statusText}}</span>
            </span>
            </div>
            <div class="col-xs-2 col-sm-3 col-md-2 col-lg-1" style="padding-top: 3.5px">
              <span><a class="edit-btn" (click)="editProduct2(item)">修改</a></span>
            </div>
          </li>
        </ul>
      </div>

      <div class="product-list-paging">
        <div>
          <div class="spinner" [ngClass]="{ 'hidden':isLoading }"></div>
          <pagination-controls [autoHide]="true" [maxSize]="5" (pageChange)="getPage($event)" previousLabel="上一页" nextLabel="下一页">
          </pagination-controls>
        </div>
      </div>
    </div>

  </div>

  <router-outlet></router-outlet>

</div>

