<!--认证-->
<div class="identify inner-cont" *ngIf="!(userInfo?.userType == 10) || !(userInfo?.userType == 2)">
  <!--<div class="iden-type">-->
    <!--<ul class="clearfix">-->
      <!--<li *ngFor="let t of userTypeTabs; let i = index;" [class.select-type]="CurrTab == i" (click)="switchTab(i)">{{t}}</li>-->
    <!--</ul>-->
  <!--</div>-->
  <!--个人认证-->
  <div class="my-user-base-info">
  <div class="iden-content" *ngIf="CurrTab == 0"  style="padding-top: 10px;">
    <form class="form-horizontal edit-form" [formGroup]="individualForm" novalidate>
      <div class="form-group" style="padding-top: 10px;">
        <label class="col-sm-3 col-xs-12">姓名</label>
        <div class="col-sm-9 col-xs-12">
          <input type="text" class="form-control" placeholder="请输入真实姓名" formControlName="name" required>
        </div>
      </div>
      <div class="form-group ysl-error-tip" *ngIf="individualFormError.name && individualForm.controls['name'].invalid">
        <p class="col-sm-9 col-xs-12 col-sm-offset-3">{{individualFormError.name}}</p>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-xs-12">手机号</label>
        <div class="col-sm-9 col-xs-12">
          <input type="text" class="form-control" formControlName="tel" placeholder="请输入您的手机号">
        </div>
      </div>
      <div class="form-group ysl-error-tip" *ngIf="individualFormError.tel && individualForm.controls['tel'].invalid">
        <p class="col-sm-9 col-xs-12 col-sm-offset-3">{{individualFormError.tel}}</p>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-xs-12">验证码</label>
        <div class="input-group col-sm-9 col-xs-12">
          <input type="text" class="form-control" formControlName="validCode" placeholder="请输入验证码">
          <button class="input-group-addon" [class.disabled]="isBtnDisabled" (click)="getValidateCode()" [disabled]="isBtnDisabled">{{btnContent}}</button>
        </div>
      </div>
      <div class="form-group ysl-error-tip" *ngIf="individualFormError.validCode && individualForm.controls['validCode'].invalid">
        <p class="col-sm-9 col-xs-12 col-sm-offset-3">{{individualFormError.validCode}}</p>
      </div>
      <div class="form-group">
        <label class="sr-only"></label>
        <div class="col-sm-offset-3 col-sm-9 col-xs-12"><button style="background-color: #39baf6" class="btn btn-info" (click)="submitIndividual()">确认</button></div>
      </div>
    </form>
    <!--<ul class="type-ul">-->
    <!--<li><span>姓名</span> <input class="iden-input" type="text" placeholder="请输入真实姓名" [(ngModel)]="iden.name"></li>-->
    <!--<li><span>手机号</span> <input class="iden-input" type="tel" placeholder="请输入您的手机号" [(ngModel)]="iden.tel"></li>-->
    <!--<li><span>验证码</span><input class="iden-input" type="text" placeholder="请输入验证码" style="width: 156px" [(ngModel)]="iden.code">-->
    <!--<button class="ysl-btn iden-code" [disabled]="able && !iden.tel" (click)="sendCode()">{{content}}</button>-->
    <!--</li>-->
    <!--</ul>-->
    <!--<button class="ysl-btn btn-ensure" (click)="perEnsure(indexType)">确认</button>-->
  </div>
  <!--组织认证-->
  <div class="gov-content" *ngIf="CurrTab == 1" style="padding-bottom: 10px;">
    <form class="form-horizontal edit-form" [formGroup]="organizationForm" (ngSubmit)="submitOrganization()" novalidate>
      <div class="form-group">
        <label class="col-sm-3 col-xs-12">机构名称</label>
        <div class="col-sm-9 col-xs-12">
          <input type="text" class="form-control" placeholder="请输入机构名称" formControlName="name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-xs-12">姓名</label>
        <div class="col-sm-9 col-xs-12">
          <input type="text" class="form-control" placeholder="请输入您的真实姓名" formControlName="contactName">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-xs-12">手机号</label>
        <div class="col-sm-9 col-xs-12">
          <input type="text" class="form-control" placeholder="请输入您的手机号" formControlName="contactPhone">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-xs-12">公司官网URL</label>
        <div class="col-sm-9 col-xs-12">
          <input type="text" class="form-control" placeholder="请输入公司官网URL" formControlName="webSite">
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only"></label>
        <div class="col-sm-offset-3 col-sm-9 col-xs-12">
          <button class="btn btn-info" style="background-color: #39baf6">确认</button>
        </div>
      </div>
    </form>

  </div>

  <p class="" style="padding:0 0 20px 0;text-align: center;" *ngIf="(userInfo?.userType == 10) || (userInfo?.userType == 20)">
    您已绑定手机号
  </p>
  </div>

</div>
