<div class="organization-info inner-cont">
  <!--<div class="text-center" *ngIf="userInfo?.userType == '1' || userInfo?.userType == '2'">请先绑定手机，再完善组织信息&nbsp;<a-->
    <!--routerLink="/userCenter/userInfo/userVerify">立即绑定</a></div>-->
  <div class="my-user-base-info">
  <!--<div class="before-verify" *ngIf="userInfo?.userType == '10'">-->
  <div class="before-verify" *ngIf="false">
    <form class="form-horizontal edit-form" [formGroup]="organizationForm" (ngSubmit)="submitOrganization(1)"
          novalidate>
      <div class="form-group">
        <label class="col-sm-3 col-xs-12">机构名称</label>
        <div class="col-sm-9 col-xs-12">
          <input type="text" class="form-control" placeholder="请输入机构名称" formControlName="name">
        </div>
      </div>
      <div class="form-group ysl-error-tip" *ngIf="orgFormError.name && organizationForm.controls['name'].invalid">
        <p class="col-sm-9 col-xs-12 col-sm-offset-3">{{orgFormError.name}}</p>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-xs-12">姓名</label>
        <div class="col-sm-9 col-xs-12">
          <input type="text" class="form-control" placeholder="请输入您的真实姓名" formControlName="contactName">
        </div>
      </div>
      <div class="form-group ysl-error-tip"
           *ngIf="orgFormError.contactName && organizationForm.controls['contactName'].invalid">
        <p class="col-sm-9 col-xs-12 col-sm-offset-3">{{orgFormError.contactName}}</p>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-xs-12">手机号</label>
        <div class="col-sm-9 col-xs-12">
          <input type="text" class="form-control" placeholder="请输入您的手机号" formControlName="contactPhone">
        </div>
      </div>
      <div class="form-group ysl-error-tip"
           *ngIf="orgFormError.contactPhone && organizationForm.controls['contactPhone'].invalid">
        <p class="col-sm-9 col-xs-12 col-sm-offset-3">{{orgFormError.contactPhone}}</p>
      </div>
      <div class="form-group">
        <label class="col-sm-3 col-xs-12">公司官网URL</label>
        <div class="col-sm-9 col-xs-12">
          <input type="text" class="form-control" placeholder="请输入公司官网URL" formControlName="webSite">
        </div>
      </div>
      <div class="form-group ysl-error-tip"
           *ngIf="orgFormError.webSite && organizationForm.controls['webSite'].invalid">
        <p class="col-sm-9 col-xs-12 col-sm-offset-3">{{orgFormError.webSite}}</p>
      </div>
      <div class="form-group">
        <label class="sr-only"></label>
        <div class="col-sm-offset-3 col-sm-9 col-xs-12">
          <button class="ysl-btn btn-ensure">确认</button>
        </div>
      </div>
    </form>
  </div>
  </div>

  <div class="after-verify">

    <div class="my-user-base-info">
    <div class="user-edit" style="padding-top: 10px;" *ngIf="userInfo?.orgName">
      <form [formGroup]="organizationForm" class="user-info-list">
        <!--<div class="info-item row" *ngFor="let o of orgViewInfo"  style="background-color: #F5F8F7;padding: 0;margin-bottom: 5px;">-->
        <div class="info-item row" *ngFor="let o of orgViewInfo">
          <span class="user-tag col-xs-5">{{o.label}} <i class="color-red" *ngIf="isEditable">*</i></span>
          <p class="col-xs-7"><span *ngIf="!o?.edit">{{o.model}}</span><input type="text"  [class.submit]="isSubmit" [formControlName]="o.formControlName" *ngIf="o?.edit"></p>
        </div>
        <div class="ysl-btn-group row" style="margin:10px;padding-bottom: 20px;">

          <div class="col-xs-6 col-md-6 col-lg-6">
            <button class="btn btn-info" style="background-color: #39baf6;float:right;" *ngIf="!isEditable" (click)="editable()">修改</button>
            <button class="btn btn-info" style="background-color: #39baf6; float:right;" *ngIf="isEditable" (click)="submitOrganization(0)">保存</button>
          </div>

          <div class="col-xs-6 col-md-6 col-lg-6">
            <button class="btn btn-default" style="background-color: #eee;float:left;" *ngIf="isEditable" (click)="cancel()">取消</button>
          </div>

        </div>
      </form>
    </div>
      <div class="user-edit" style="padding-top: 10px;" *ngIf="!(userInfo?.orgName)">
        <form [formGroup]="organizationForm" class="user-info-list">
          <!--<div class="info-item row" *ngFor="let o of orgViewInfo"  style="background-color: #F5F8F7;padding: 0;margin-bottom: 5px;">-->
          <div class="info-item row" *ngFor="let o of orgViewInfo">
            <span class="user-tag col-xs-5">{{o.label}}<i class="color-red">*</i></span>
            <p class="col-xs-7"><span *ngIf="!o?.edit">{{o.model}}</span>
              <input type="text" [class.submit]="isSubmit" [formControlName]="o.formControlName" *ngIf="o?.edit"></p>
          </div>
          <div class="ysl-btn-group row" style="margin:10px;padding-bottom: 20px;">

            <div class="col-xs-6 col-md-6 col-lg-6">
              <button class="btn btn-info" style="background-color: #39baf6;float:right;" *ngIf="!isEditable" (click)="editable()">修改</button>
              <button class="btn btn-info" style="background-color: #39baf6; float:right;" *ngIf="isEditable" (click)="submitOrganization(0)">保存</button>
            </div>

          </div>
        </form>
      </div>


    </div>

  </div>
</div>
