<div class="modify-psd inner-cont">
  <form class="form-horizontal edit-form" [formGroup]="modifyForm" (ngSubmit)="modifySubmit()" novalidate>
    <div class="form-group">
      <label class="col-sm-3 col-xs-12">原密码</label>
      <div class="col-sm-9 col-xs-12">
        <input type="password" class="form-control" placeholder="请输入您的原密码" formControlName="oldPass" required>
      </div>
    </div>
    <div class="form-group ysl-error-tip" *ngIf="formError.oldPass && modifyForm.controls['oldPass'].invalid">
      <p class="col-sm-9 col-xs-12 col-sm-offset-3">{{formError.oldPass}}</p>
    </div>
    <div class="form-group">
      <label class="col-sm-3 col-xs-12">新密码</label>
      <div class="col-sm-9 col-xs-12">
        <input type="text" class="form-control" placeholder="首字母开头，英文、数字、下划线" formControlName="newPass" required>
      </div>
    </div>
    <div class="form-group ysl-error-tip" *ngIf="formError.newPass && modifyForm.controls['newPass'].invalid">
      <p class="col-sm-9 col-xs-12 col-sm-offset-3">{{formError.newPass}}</p>
    </div>
    <div class="form-group">
      <label class="col-sm-3 col-xs-12">确认新密码</label>
      <div class="col-sm-9 col-xs-12">
        <input type="text" class="form-control" placeholder="请再次输入新密码" formControlName="confirmPass" required>
      </div>
    </div>
    <div class="form-group ysl-error-tip" *ngIf="formError.confirmPass && modifyForm.controls['confirmPass'].invalid">
      <p class="col-sm-9 col-xs-12 col-sm-offset-3">{{formError.confirmPass}}</p>
    </div>
    <div class="form-group ysl-error-tip" *ngIf="modifyForm.valid && isInconsistent">
      <p class="col-sm-9 col-xs-12 col-sm-offset-3">两次密码不一致</p>
    </div>
    <div class="form-group">
      <label class="sr-only"></label>
      <div class="col-sm-offset-3 col-sm-9 col-xs-12"><button class="ysl-btn btn-ensure">确认</button></div>
    </div>
    <!--<div><span>原密码</span> <input class="psd-input" type="password" placeholder="请输入您的原密码" [(ngModel)]="modify.old"></div>-->
    <!--<li><span>新密码</span> <input class="psd-input" type="password" placeholder="请输入您的新密码" [(ngModel)]="modify.new"></li>-->
    <!--<li><span>确认新密码</span><input class="psd-input" type="password" placeholder="请再次输入新密码" [(ngModel)]="modify.new2"></li>-->

  </form>

</div>
