<div class="user-base-info inner-cont" style="padding: 10px 0">
  <!--<div class="login-history">-->
    <!--<span>上次登录时间：{{viewInfo?.lastLogonTime}}</span>-->
  <!--</div>-->
  <div class="">
    <form [formGroup]="editForm" class="">
      <div class="row" style="padding: 10px 0;">
      <!--<div class="row" style="background-color: #F5F8F7;padding: 10px 0;">-->
        <span class=" col-xs-4" style="text-align: right;">账号</span>
        <span class="col-xs-5">{{viewInfo?.loginId}}</span>
        <span class="col-xs-3">&nbsp;</span>
      </div>
      <div class="row" *ngFor="let i of userInfo" style="margin-top: 5px;padding: 10px 0;">
        <span class="col-xs-4" style="text-align: right;">{{i.label}}</span>
        <span class="col-xs-5">
          <input type="text" [formControlName]="i.formControlName" *ngIf="i.edit">
          <span *ngIf="!i.edit">{{i.model}}</span>
        </span>
        <span class="col-xs-3">
          <a class="" *ngIf="!i.edit" (click)="ableEdit(i)">修改</a>
          <a class="" *ngIf="i.edit" (click)="infoEditSubmit(i)">保存</a>
        </span>
      </div>
    </form>
  </div>
</div>
