<div class="user-base-info inner-cont">
  <!--<div class="login-history">-->
    <!--<span>上次登录时间：{{viewInfo?.lastLogonTime}}</span>-->
  <!--</div>-->
  <div class="user-edit">
    <form [formGroup]="editForm" class="user-info-list">
      <div class="info-item row">
        <span class="user-tag col-xs-3">账号</span>
        <p class="col-xs-9"><span>{{viewInfo?.loginId}}</span></p>
      </div>
      <div class="info-item row" *ngFor="let i of userInfo">
        <span class="user-tag col-xs-3">{{i.label}}</span>
        <p class="col-xs-6"><input type="text" [formControlName]="i.formControlName" *ngIf="i.edit"><span *ngIf="!i.edit">{{i.model}}</span></p>
        <div class="edit-wrapper col-xs-3">
          <button class="ysl-btn edit-btn" *ngIf="!i.edit" (click)="ableEdit(i)">修改</button>
          <button class="ysl-btn save-btn" *ngIf="i.edit" (click)="infoEditSubmit(i)">保存</button>
        </div>
      </div>
    </form>
  </div>
</div>
