<div class="product-mage">
  <div class="mangement-left">
    <img src="../../assets/images/userpic.png"><br><br>
    <span>{{userEmail}}</span>

    <ul class="pro-mage-list">
      <li *ngFor="let item of proMangeTag" class="active">{{item.text}} <img src="./assets/images/arrow.png">
        <ul class="pro-second-menu">
          <li *ngFor="let itemc of item.children" [routerLink]="[itemc.path]" routerLinkActive="bg-lightblue">{{itemc.text}}</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="mangement-right">
    <router-outlet></router-outlet>
    <!--<product-list *ngIf="indexCld == 0 && index == 1"></product-list>-->
    <!--<error-correct *ngIf="index == 1 && indexCld == 1"></error-correct>-->
  </div>
</div>
