.index-cont{
  padding-top: 1.5rem;
  text-align: center;
  min-height: 600px;
}
.logo{
  display: inline-block;
  height: auto;
  width: 1.111rem;
  min-width: 60px;
  max-width: 112px;
  margin-bottom: 40px;
  background-size: 100%;
}
.product-number{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #fff;
}
.product-number .fa{
  margin-right: 10px;
}
.product-number span{
  margin-left: 10px;
}
/*.searchType{*/
  /*width: 800px;*/
  /*margin:0 auto;*/
  /*margin-top: 40px;*/
  /*text-align: left;*/
  /*list-style-type: none;*/
  /*position: relative;*/
/*}*/
/*.searchType li{*/
  /*float: left;*/
  /*cursor: pointer;*/
/*}*/
/*.ysl-tab-btn{*/
  /*padding: 15px 25px;*/
/*}*/
/*.secondMenu{*/
  /*width: 100%;*/
  /*position: absolute;*/
  /*list-style: none;*/
  /*margin-top: 20px;*/
  /*color: #676767;*/
  /*padding:30px;*/
  /*left:0;*/
  /*top:30px;*/
  /*border:1px solid #d8e5e7;*/
/*}*/
/*.second-nav{*/
  /*margin:5px 15px;*/
  /*padding: 10px;*/
  /*background: #f6f9fa;*/
/*}*/
.isActive{
  color: #1c94c4;
  border:1px solid #d8e5e7;
  border-bottom: none;
}

/*修改*/
@media screen and (max-width: 768px){
  .ysl-label-search-cont{
    height: 250px;
    overflow: scroll;
  }
  ::-webkit-scrollbar{
    color: transparent;
  }
  ::-webkit-scrollbar-corner{
    color: transparent;
  }
}


