.indexCon{
  width: 100%;
  padding-top: 200px;
  text-align: center;
}
.indexCon h2{
  font-size: 28px;
  color: #1c94c4;
  font-weight: bold;
  margin-top: 40px;
}
.totalNum{
  width: 200px;
  margin: 0 auto;
  text-align: center;
}
.totalNum span{
  font-size: 16px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  margin-right: 20px;
  color: #929292;
}
.searchType{
  width: 600px;
  margin:0 auto;
  margin-top: 40px;
  text-align: left;
  list-style-type: none;
  position: relative;
}
.searchType li{
  float: left;
  cursor: pointer;
}
.secondMenu{
  width: 500px;
  position: absolute;
  list-style: none;
  margin-top: 20px;
  color: #676767;
  left:0;
  top:8px;
  border:1px solid #d8e5e7;
}
.second-nav{
  padding:5px 10px;
  margin:5px 10px;
  background: #f6f9fa;
}
.btn-none{
  border:none;
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  font-family: '微软雅黑';
}
.isActive{
  color: #1c94c4;
  border:1px solid #d8e5e7;
  border-bottom: none;
  padding:5px 10px;
}
