<my-nav></my-nav>
<div class="indexCon">
  <div class="totalNum">
    <img src="./assets/images/factory.png"><span>厂商</span>
    <img src="./assets/images/database.png"><span>数据库</span>
  </div>
  <h2>经济数据库</h2>
  <search-input (keywordSearch)="keywordSearch($event)"></search-input>
  <md-tab-group class="ysl-label-search-area">
    <md-tab label="{{item.name}}" *ngFor="let item of tagDimensions">
      <ul class="ysl-label-searh-cont">
        <li *ngFor="let itemc of item.items">{{itemc.name}}</li>
      </ul>
    </md-tab>
  </md-tab-group>
</div>
<footer></footer>
