<my-nav></my-nav>
<div class="index-cont container" [ngStyle]="indexContStyle">
  <img src="../../../assets/images/ysl-logo.png" class="logo" alt="">
  <div class="product-number ysl-text-primary">
    <i class="product-number-icon"></i>数据产品数量 <span>6123</span>
  </div>
  <search-input (keywordSearch)="keywordSearch($event)" (showAdvancedBox)="showAdvancedBox($event)"></search-input>
  <md-tab-group class="ysl-label-search-area">
    <md-tab label="{{item.name}}" *ngFor="let item of tagDimensions">
      <ul class="ysl-label-search-cont">
        <li *ngFor="let itemc of item.items">{{itemc.name}}</li>
      </ul>
    </md-tab>
  </md-tab-group>
</div>
<footer></footer>
