.header {
  position: absolute;
  top:0;
  width: 100%;
  padding: 0 120px;
  height: 50px;
  line-height: 50px;
  background: #fff;
  border: 1px solid #d8e5e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
}
.header .head-left {
  width: 201px;
  height: 34px;
  float: left;
  background: url("../../../assets/images/logo.png") no-repeat;
}
.header .head-right {
  float: right;
}
.header .btn {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.pro-mage-btn{
  display: inline-block;
  width: 120px;
  text-align: center;
  background: #fff;
  border: 1px solid #d8e5e7;
  height: 50px;
  cursor: pointer;
  outline: none;
}
.user-center-btn {
  width: 120px;
  display: inline-block;
  cursor: pointer;
  background: #fff;
  border: 1px solid #d8e5e7;
  height: 50px;
  background: url("../../../assets/images/arrowdown.png") no-repeat right center;
  background-position-x: 98px ;
  position: relative;
  text-align: center;
}
.user-center-list{
  position: absolute;
  width: 100%;
  top:48px;
}
.user-center-list li{
  border:1px solid #d8e5e7;
  background: #fff;
}
.user-center-list li:hover{
  background: #39baf6;
  color: #fff;
}
.header .login-btn {
  background: #fff;
  font-size: 18px;
  color: #1c94c4;
  border: 1px solid #1c94c4;
  cursor: pointer;
}
.header .register-btn {
  background: #1c94c4;
  font-size: 18px;
  color: #fff;
}
