<nav class="header">
  <div class="head-left"></div>
  <div class="head-right">
    <button class="btn login-btn" (click)="showLogin()" *ngIf="!isLogin">登录</button>
    <button class="btn register-btn" routerLink="/register" *ngIf="!isLogin">注册</button>
    <!--产品管理-->
    <div class="pro-mage-btn" routerLink="/promange" *ngIf="isLogin">
      产品管理
    </div>
    <!--用户中心-->
    <div class="user-center-btn" *ngIf="isLogin" (click)="toggle()">用户中心
      <ul class="user-center-list" *ngIf="isUserCenter">
        <li routerLink="/usercenter">个人中心</li>
        <li>退出</li>
      </ul>
    </div>
  </div>
</nav>
<!--登录弹窗-->
<div class="login-box" [hidden]="loginState">
  <div class="login-form">
    <p class="login-title font24 color-gray"><span class="font18">登录用户账号</span><span class="fork" (click)="hideLogin()">x</span></p>
    <input type="text" class="user-count" placeholder="账号" [(ngModel)]="user.count">
    <input type="password" class="user-psd" placeholder="密码" [(ngModel)]="user.psd">
    <div class="login-state">
      <label for="auto-login" class="color-gray"><input type="checkbox" id="auto-login"> 下次自动登录</label>
      <a class="forget-psd">忘记密码? </a>
    </div>
    <button class="login btn" (click)="userLogin(user)">登录</button>
    <p class="text-center">还没有账号？ <a href="javascript:;" class="color-blue" (click)="showRegister()">点击注册</a></p>
  </div>
</div>
