.container:before,.container:after{
  display: none;
}
.ysl-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.ysl-header .head-left{
  width: 200px;
  height: 34px;
  outline: none;
  cursor: pointer;
  background: url("../../../assets/images/logo.png") no-repeat left top/auto 100%;
}
.head-right{
  display: flex;
  height: 100%;
}
.before-login{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.after-login{
  display: flex;
  height: 100%;
}
.ysl-subnav{
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 60px;
  overflow: hidden;
  background-color: #070224;
  z-index: 20;
}
.ysl-subnav li{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 36px;
  color: #fff;
}
.ysl-subnav li:hover{
  color: rgba(255,255,255,0.7)
}
.ysl-nav-item{
  display: flex;
  width: 120px;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  position: relative;
}
.ysl-nav-item span{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #fff;
}
.ysl-nav-item span:hover{
  color: rgba(255,255,255,0.7)
}
.ysl-nav-item .fa-angle-down{
  margin-left: 10px;
}
.ysl-nav-item:hover .ysl-subnav{
  display: block;
}

.ysl-btn{
  height: 28px;
  width: 56px;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
}
.ysl-header .login-btn{
  background-color: transparent;
}
.ysl-header .register-btn {
  background-color: transparent;
}
.ysl-header .login-btn:hover,.ysl-header .register-btn:hover{
  text-decoration: underline;
}
.visible-xs-block .fa-user-o{
  color: #fff;
  font-size: 0.75rem;
}
.visible-xs-block .btn{
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 100%;
  height: 1.2rem;
  padding: 0;
  width: 1.2rem;
}
@media screen and (max-width: 768px) {
  .ysl-header{
    justify-content: space-between;
  }
  .head-right{
    display: none;
  }
  .visible-xs-block{
    display: block !important;
  }
}


