.container:before,.container:after{
  display: none;
}
.ysl-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.ysl-header .head-left {
  width: 201px;
  height: 34px;
  outline: none;
  cursor: pointer;
  background: url("../../../assets/images/logo.png") no-repeat;
}
.head-right {
  display: flex;
}

.pro-mage-btn,.operate-mage-btn{
  display: inline-block;
  width: 120px;
  text-align: center;
  background: #fff;
  border: 1px solid #d8e5e7;
  height: 50px;
  cursor: pointer;
  outline: none;
  border-right: none;
}
.user-center-btn {
  width: 120px;
  display: inline-block;
  cursor: pointer;
  background: #fff;
  border: 1px solid #d8e5e7;
  height: 50px;
  background: url("../../../assets/images/arrowdown.png") no-repeat right center;
  background-position-x: 98px ;
  position: relative;
  text-align: center;
}
.user-center-list{
  position: absolute;
  width: 100%;
  top:48px;
}
.user-center-list li{
  border:1px solid #d8e5e7;
  background: #fff;
}
.user-center-list li:hover{
  background: #39baf6;
  color: #fff;
}
.ysl-btn{
  height: 28px;
  width: 56px;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
}
.ysl-header .login-btn {
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid #fff;
}
.ysl-header .register-btn {
  background: #1c94c4;
  background-color: rgba(255,255,255,0.3);
}
.visible-xs-block .fa-user-o{
  color: #fff;
  font-size: 0.75rem;
}
.visible-xs-block .btn{
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 100%;
  height: 1rem;
  padding: 0;
  width: 1rem;
}
@media screen and (max-width: 768px) {
  .ysl-header{
    height: 1.9rem;
    justify-content: flex-end;
  }
}


