<div class="product-list">
  <div class="list-empty" *ngIf="items.length==0">收藏列表为空</div>
  <div class="item-list" *ngIf="items.length !==0">
    <ul class="list-group">
      <li class="list-group-item product-list-ul" *ngFor="let item of items | paginate: {itemsPerPage: pagination['limit'],
                                                      currentPage: currPage,
                                                      totalItems: items.totalLength}">
        <h4 class="user-name font16">{{item.creator}}<span>更新时间：{{item.createdOn}}</span></h4>
        <p class="product-name" (click)="toProductDetail(c)">{{item.name}}<button (click)="deleteFavorite(item)" class="btn cancel-btn">取消</button></p>
      </li>
    </ul>
    <pagination-controls class="hidden-xs" (pageChange)="toNextPage($event);"
                         autoHide="true"
                         previousLabel="上一页"
                         nextLabel="下一页"></pagination-controls>
    <pagination-controls class="visible-xs-block" (pageChange)="toNextPage($event);"
                         autoHide="true"
                         previousLabel="<"
                         nextLabel=">"></pagination-controls>
  </div>
</div>
