<div class="like-list ysl-info-wrapper">
  <div class="list-empty" *ngIf="items.length==0">收藏列表为空</div>
  <div *ngIf="items.length !==0">
    <ul class="ysl-list-group">
      <li class="ysl-list-item" *ngFor="let item of items | paginate: {itemsPerPage: pagination['limit'],
                                                      currentPage: currPage,
                                                      totalItems: totalLength}">
        <h4 class="user-name font16">{{item.creator}}<span class="font14">时间：{{item.createdOn}}</span></h4>
        <p class="product-name"><a (click)="toProductDetail(item)">{{item.name}}</a><button (click)="deleteFavorite(item)" class="btn cancel-btn">取消</button></p>
      </li>
    </ul>
    <pagination-controls class="hidden-xs" (pageChange)="toNextPage($event);"
                         autoHide="true"
                         previousLabel="上一页"
                         nextLabel="下一页"></pagination-controls>
    <pagination-controls class="visible-xs-block" (pageChange)="toNextPage($event);"
                         autoHide="true"
                         previousLabel="<"
                         nextLabel=">"></pagination-controls>
  </div>
</div>
