<!--认证-->
<div class="identify">
  <div class="iden-type">
    <ul class="clearfix">
      <li *ngFor="let item of idenType;let i=index" [class.select-type]="indexType == i" (click)="tabType(i)">{{item.type}}</li>
    </ul>
  </div>
  <div class="iden-content" *ngIf="indexType==0 && !perstate">
    <ul class="type-ul">
      <li><span>姓名</span> <input class="iden-input" type="text" placeholder="请输入真实姓名" [(ngModel)]="iden.name"></li>
      <li><span>手机号</span> <input class="iden-input" type="tel" placeholder="请输入您的手机号" [(ngModel)]="iden.tel"></li>
      <li><span>验证码</span><input class="iden-input" type="text" placeholder="请输入验证码" style="width: 156px" [(ngModel)]="iden.code">
        <button class="ysl-btn iden-code" [disabled]="able && !iden.tel" (click)="sendCode()">{{content}}</button>
      </li>
    </ul>
    <button class="ysl-btn btn-ensure" (click)="perEnsure(indexType)">确认</button>
  </div>
  <!--认证成功后显示-->
  <div class="iden-success" *ngIf="indexType==0 && perstate">
    <div class="iden-tip">
      <img src="./assets/images/pidensucc.png"><br>
      <span>恭喜，您的实名认证已通过</span>
    </div>
    <p>认证身份：个人</p>
    <p>姓名：{{iden.name}}</p>
    <p>手机号：{{iden.tel}}</p>
  </div>
  <div class="gov-content" *ngIf="indexType==1 && !govstate">
    <ul class="type-ul" style="width: 410px">
      <li><span>机构名称</span> <input class="iden-input" type="text" placeholder="请输入机构名称" [(ngModel)]="goviden.firm"></li>
      <li><span>姓名</span> <input class="iden-input" type="tel" placeholder="请输入您的真实姓名" [(ngModel)]="goviden.name"></li>
      <li><span>手机号</span><input class="iden-input" type="text" placeholder="请输入您的手机号" [(ngModel)]="goviden.tel"></li>
      <li><span>公司官网URL</span> <input class="iden-input" type="tel" placeholder="请输入公司官网URL" [(ngModel)]="goviden.url"></li>
    </ul>
    <button class="ysl-btn btn-ensure" (click)="perEnsure(indexType)">确认</button>
  </div>
  <!--机构认证成功后显示-->
  <div class="iden-success" *ngIf="indexType==1 && govstate">
    <div class="iden-tip">
      <img src="./assets/images/gidensucc.png"><br>
      <span>恭喜，您的实名认证已通过审核</span>
    </div>
    <p>机构名称：{{goviden.firm}}</p>
    <p>用户姓名：{{goviden.name}}</p>
    <p>手机号：{{goviden.tel}}</p>
    <p>公司官网URL：{{goviden.tel}}</p>
  </div>
</div>
