<div class="data-detail container">
  <div class="detail-left col-lg-9 col-xs-12">
    <div class="clearfix">
      <h3 class="product-name">{{productDetail.name}}</h3>
      <div class="data-info clear row">
        <span class="firmlogo"><img [src]="productDetail?.logoFilePath ? './assets/images/detail1.png' : './assets/images/product-logo-default.png'"></span>
        <ul class="firm-detail clearfix">
          <li>数据供应商：{{productDetail.orgName}}</li>
          <li>官方网址：<a [href]="productDetail.orgWebSite" target="_blank">{{productDetail.orgWebSite}}</a></li>
          <li>是否收费：<i class="green">{{productDetail.premium}}</i></li>
          <li>数据样本：<i class="green text-underline" *ngIf="productDetail.sampleFilePath" (click)="downloadSampleFile()">下载</i><span *ngIf="!productDetail.sampleFilePath">无</span></li>
          <li>数据类型：<i *ngIf="productDetail.dataCategory">{{productDetail['dataCategory']}}</i><span *ngIf="!productDetail.dataCategory">无</span></li>
          <li>采集方式：<i *ngIf="productDetail.collectionMethod">{{productDetail['collectionMethod']}}</i><span *ngIf="!productDetail.collectionMethod">无</span></li>
          <li>服务方式：<i *ngIf="productDetail.serviceMethod">{{productDetail['serviceMethod']}}</i><span *ngIf="!productDetail.serviceMethod">无</span></li>
          <li>数据来源：<i *ngIf="productDetail.dataSource">{{productDetail['dataSource']}}</i><span *ngIf="!productDetail.dataSource">无</span></li>
          <li>时间范围：<i *ngIf="productDetail.dataSince && productDetail.dataUntil">{{productDetail['dataSince']}}&nbsp;-&nbsp;{{productDetail['dataUntil']}}</i><i *ngIf="!(productDetail.dataSince && productDetail.dataUntil)">无</i></li>
          <!--<li class="tag-box">标签：<ul class="product-tag" *ngIf="productDetail['tags']?.length"><li *ngFor="let item of productDetail.tags;let last = last"><span class="tag-name color-blue">{{item.name}}</span><span class="tag-dividing-line" *ngIf="!last">|</span></li></ul><span *ngIf="!productDetail['tags']?.length">无</span></li>-->
        </ul>
      </div>
      <div class="tag-area">
        <span class="tag-title"><i class="fa fa-tag"></i>&nbsp;标签</span>
        <ul class="product-tag" *ngIf="productDetail['tags']?.length">
          <li *ngFor="let item of productDetail.tags;">
            <span class="tag-primary">{{item.name}} &nbsp;<i class="fa fa-caret-right"></i></span>
            <ul>
              <li class="tag-sub tag-name" *ngFor="let itemc of item.items;let last = last"><span class="tag-name color-blue">{{itemc.name}}</span><span class="tag-dividing-line" *ngIf="!last">|</span></li>
            </ul>
          </li>
        </ul>
        <p *ngIf="!productDetail['tags']?.length">无</p>
      </div>
    </div>

    <div class="product-introduce">
      <h4 class="mb20 font16">产品简介</h4>
      <p>{{productDetail.description}}</p>
    </div>

    <!--纠错处理-->
    <div yslMenu class="add-product-errata">
      <button class="zan-btn btn" [class.thumb-up]="isThumbsUp" (click)="thumbsUp()"><i class="fa fa-thumbs-up"></i> <i *ngIf="favoredCount">{{favoredCount}}</i>点赞</button>
      <button class="errata-btn btn" (click)="createErrata();$event.stopPropagation()"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;我要纠错</button>
      <div class="errata-edit-cont" ysl-popup></div>
    </div>
      <div class="error-correct" ></div>


    <div class="write-comment">
      <h5><i class="fa fa-edit"></i>&nbsp;&nbsp;发表评论</h5>
      <div class="score clearfix row">
        <span class="col-md-3 col-xs-12">请点击星级进行评分</span>
        <div class="score-type col-md-9 col-xs-12">
          <div class="scores-item col-sm-6 col-xs-12" *ngFor="let t of score; let parentInd = index">
            <span>{{t.title}}</span>
            <ul class="start-score">
              <li *ngFor="let s of t.stars; let i = index"><i class="fa" [class.fa-star-o]="i > t.curr" [class.fa-star]="i <= t.curr" (click)="productScore(parentInd, i)"></i></li>
            </ul>
            <i class="color-orange">( {{t.score}}分 )</i>
          </div>
        </div>
      </div>
      <div class="comment-content">
        <h4 class="color-gray">评论内容</h4>
        <textarea [(ngModel)]="commentRemark" placeholder="请输入您的评价..."></textarea>
        <p class="ysl-error-tip" *ngIf="commentError">{{commentError}}</p>
        <div class="push">
          <button class="ysl-btn push-btn" (click)="sendComment()">发布</button>
        </div>
      </div>
    </div>


    <!--评论区域-->
    <div class="comment-wrapper">
      <p class="color-gray font18"><span *ngIf="productComment.totalLength">{{productComment.totalLength}}个评论</span><span class="no-comment" *ngIf="!productComment.totalLength">暂无评论</span></p>
      <ul class="comment-list">
        <li *ngFor="let c of productComment['items']; let ind = index;">
          <div class="comment-item">
            <h5 class="comment-name">{{c.userName}}</h5>
            <div class="score-summary" *ngIf="c.averageScore">
              <ul class="stars-list clearfix">
                <li *ngFor="let s of averageScore; let i = index;"><i class="fa" [class.fa-star-o]="(i+1)>c.averageScore" [class.fa-star]="((i+1) < c.averageScore) || ((i+1) == c.averageScore)" [class.fa-star-half-o]="(i+1)>c.averageScore && i < c.averageScore"></i></li>
              </ul>
              <p class="score-text"><span>及时性：{{c.scoreOnTimeliness}}</span><span>准确性：{{c.scoreOnAccuracy}}</span><span>规范性：{{c.scoreOnNormalization}}</span><span>完整性：{{c.scoreOnIntegrity}}</span></p>
            </div>
            <p class="font14">{{c.remark}}</p>
            <div class="user-info">
              <div>
                <span class="font12 color-blue">{{c.userName}}</span>
                <span class="font12 color-blue"><i class="line">|</i>&nbsp;&nbsp;&nbsp;&nbsp;发布于{{c.modifiedOn}}</span>
              </div>
              <div class="reply-comment">
                <p (click)="showReply(ind)"><i class="fa fa-commenting-o"></i>
                  <span>评论 <i *ngIf="false">(2)</i></span></p>
              </div>
            </div>
            <!--用户的二级评论-->
            <div class="second-comment">
              <div class="reply" *ngIf="c.showSecond">
                <textarea name="second-comment" class="comment-area" placeholder="请输入内容..." [(ngModel)]="replyCommentCont"></textarea>
                <button class="ysl-btn push-btn" (click)="replyComment(c, ind)">发布</button>
              </div>
              <ul class="second-comment-list">
                <li *ngFor="let r of c.items">
                  <div>
                    <span class="font12"><i class="color-blue">{{r.userName}}</i>回复<i class="color-blue">{{c.userName}}</i></span>
                    <span class="font12 color-blue"><i class="line">|</i>&nbsp;&nbsp;&nbsp;&nbsp;{{r.modifiedOn}}</span>
                  </div>
                  <p class="font14">{{r.remark}}</p>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="detail-right col-lg-3 col-xs-12">
    <p>评分</p>
    <div class="star-score">
      <span *ngIf="!productDetail.averageScore">暂无评分</span>
      <ul class="stars-list clearfix" *ngIf="productDetail.averageScore">
        <li *ngFor="let s of averageScore; let i = index;"><i class="fa" [class.fa-star-o]="(i+1)>productDetail.averageScore" [class.fa-star]="((i+1) < productDetail.averageScore) || ((i+1) == productDetail.averageScore)" [class.fa-star-half-o]="(i+1)>productDetail.averageScore && i < productDetail.averageScore"></i></li>
      </ul>
      <i class="color-orange" *ngIf="productDetail.averageScore">({{productDetail.averageScore}}分)</i>
    </div>

    <div class="current-info font14">
      <p>产品信息</p>
      <ul class="mt10">
        <li><span>创建者：</span> <span class="color-blue">{{productDetail.creator}}</span></li>
        <li><span>浏览次数：</span> <span>{{productDetail.viewedCount}}次</span></li>
        <li><span>最近更新：</span> <span>{{productDetail.modifiedOn}}</span></li>
      </ul>
    </div>

    <div class="relative-pro">
      <p>相关产品</p>
      <p *ngIf="!relatedProductList">暂无相关产品</p>
      <ul class="relative-pro-list font12" *ngIf="relatedProductList">
        <li *ngFor="let item of relatedProductList">
          <p class="color-blue" (click)="relatedProductDetail(item)">{{item.name}}</p>
          <span>{{item.description}}</span></li>
      </ul>
    </div>
  </div>
</div>
