/*详情页*/
.container{
  padding: 30px 0 60px;
}
.detail-left{
  padding-bottom: 50px;
}
.detail-right{
  padding-left: 20px;
}
.add-product-errata{
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.errata-btn,.zan-btn{
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  background: #fff;
  text-align: center;
  color: #ffa54e;
  font-size: 14px;
  cursor: pointer;
}
.zan-btn{
  background-color: #fff;
  color: #a6b8c4;
}
.thumb-up{
  color: #40bf52;
}
.write-comment h5{
  font-size: 16px;
  margin-bottom: 20px;
}
.product-name{
  margin: 0;
  font-size: 18px;
}
.data-info{
  width: 100%;
  padding: 30px 15px 0 15px;
}
.firmlogo{
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 4.361rem;
  height: 3.194rem;
  border: 1px solid #ddd;
}
.firmlogo img{
  width: 58%;
}
.firm-detail{
  width: 100%;
  padding-left: 170px;
}
.firm-detail>li{
  float: left;
  width: 50%;
  line-height: 36px;
  border-bottom: 1px dashed #d6d5d5;
  font-size: 14px;
  color: #333333;
}
.firm-detail>li:nth-of-type(1),.firm-detail>li:nth-of-type(2){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tag-area{
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.tag-title{
  width: 9em;
  color: #999;
}
.product-tag{
  display: flex;
  flex-direction: column;
}
.product-tag li{
  display: inline-block;
}
.product-tag>li{
  display: flex;
  margin-top: 5px;
}
.product-tag .tag-primary{
  width: 10em;
}
.product-tag ul{
  flex: 1;
}
.tag-dividing-line{
  margin: 0 10px;
  color: #b5b5b5;
}
.product-introduce{
  margin-top: 40px;
  color: #666;
  background: url("../../../../assets/images/linebottom.png") no-repeat bottom center;
  background-size: 100%;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.product-introduce p{
  text-indent: 2em;
  margin-bottom: 20px;
}
.score{
  line-height: 48px;
  background: #f9fbfb;
  margin: 0;
  /*display: flex;*/
  /*align-items: center;*/
  /*margin-bottom: 10px;*/
}
.scores-item{
  float: right;
  display: flex;
  align-items: center;
}
.scores-item i{
  font-weight: bold;
}
.start-score{
  display: inline-block;
  margin: 0 10px;
}
.start-score li{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  float: left;
  margin-right: 3px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  font-size: 16px;
}
.start-score .fa{
  color: rgb(255,165,78)
}
.start-score li:last-of-type{
  margin-right: 0;
}
.push{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  margin-top: 10px;
}
.push .ysl-checkbox-group label{
  margin: 0;
}
.push .ysl-checkbox-group span{
  border-color: #ddd !important;
}
.push-btn{
  width: 70px;
  line-height: 30px;
  text-align: center;
  background: #39baf6;
  color: #fff;
  font-size: 14px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  cursor: pointer;
  margin-left: 10px;
}
.comment-wrapper{
  padding-top: 20px;
  border-top: 1px solid #ddd;
  margin-top: 30px;
}
.comment-wrapper .font18{
  color: #5a717f;
}
.comment-wrapper .no-comment{
  font-size: 14px;
  color: #999;
}
.user-info{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.user-info .line{
  color: #8196a0;
  font-style: normal;
}
.user-info .font12{
  color: #a7bec9;
}
.user-level{
  display: inline-block;
  width: 40px;
  line-height: 15px;
  color: #39baf6;
  border:1px solid #39baf6;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  font-family: '微软雅黑';
  font-weight:bold;
  margin-left: 5px;
  margin-right: 18px;
}
.reply-comment{
  font-size: 12px;
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
}
.reply-comment .fa{
  font-size: 16px;
  color: rgb(193,207,220);
  margin-right: 4px;
}
.second-comment{
  margin-top: 5px;
  width: 100%;
  background: #f9fbfb;
  overflow: hidden;
}
.second-comment .reply{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-bottom: 1px solid #d8e5e7;
  padding-bottom: 20px;
  margin: 10px 10px 0 10px;
}
.second-comment .reply button{
  margin-top: 10px;
}
.comment-area{
  width: 100%;
  height:100px;
  border:1px solid #d8e5e7;
  padding: 10px;
  outline:none;
  color: #333;
  font-size: 14px;
  font-family: '微软雅黑';
}
textarea::-moz-placeholder{
  color: #ddd;
}
textarea::-webkit-input-placeholder{
  color: #ddd;
}
textarea:-ms-input-placeholder{
  color: #ddd;
}
.comment-list li{
  border-bottom: 1px solid #eee;
}
.comment-list li:last-of-type{
  border-bottom: none;
}
.second-comment-list li{
  width: 100%;
  line-height: 34px;
  border-top: 1px solid #eee;
  color: #666;
  margin: 0 10px;
}
.second-comment-list li:first-of-type{
  border-top: none;
}
.stars-list{
  margin: 0;
}
.stars-list li{
  width: 19px;
  height: 19px;
  background-size: 100%;
  float: left;
  margin-right: 5px;
}
.stars-list .fa{
  font-size: 16px;
  color: rgb(255,165,78);
}
.star-score{
  width: 100%;
  display: flex;
  border-bottom: 1px solid #d8e5e7;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
.score-summary{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.score-summary li{
  width: 15px;
  height: 15px;
}
.score-summary .half-star{
  background-position: left -15px;
}
.score-summary .score-text{
  margin-bottom: 0;
  margin-left: 10px;
  color: #999;
  font-size: 12px;
}
.score-summary .score-text span{
  margin-left: 10px;
}
.score-summary .score-text span:first-of-type{
  margin-left: 0;
}

.current-info{
  margin-top: 30px;
  color: #666;
  padding-bottom: 16px;
  border-bottom: 1px solid #d8e5e7;
}
.current-info ul{
  margin-bottom: 0;
}
.current-info>p{
  color: #333;
}
.current-info li{
  font-size: 12px;
  line-height: 24px;
}
.relative-pro{
  margin-top: 30px;
  color: #666;
}
.relative-pro-list{
  margin-top: 10px;
}
.relative-pro-list li{
  color: #666;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom:15px ;
}
.relative-pro-list p{
  font-size: 14px;
  cursor: pointer;
}
.relative-pro-list span{
  line-height: 20px;
}
textarea:-moz-placeholder{
  color: #999;
}
textarea:-ms-input-placeholder{
  color: #999;
}
textarea::-webkit-input-placeholder{
  color: #999;
}

.comment-content h4{
  font-size: 14px;
  color: #59717f !important;
}
.comment-content textarea{
  height: 106px;
  width: 100%;
  border-color: #ccc;
}

@media screen and (max-width: 992px) {
  .detail-right,.detail-left{
    float: none;
    padding: 0 0 50px 0;
  }
}
@media screen and (max-width: 768px) {
  .firmlogo{
    display: flex;
    float: none;
  }
  .firm-detail{
    width: 100%;
    padding: 0 15px;
  }
  .firm-detail li{
    width: 100%;
  }
}
