<div class="promage-nav">
  <div class="mage-title">
    <div style="margin: 10px 0; font-size: .5rem; line-height: 0">产品列表</div>
    <div class="ysl-search-box">
      <input type="text" class="content-search" placeholder="名称/简介">
      <button class="ysl-btn search-btn"></button>
    </div>
  </div>
  <div class="own-prolist">
    <div class="selected-filter">
      <md-input-container>
        <input mdInput type="text" placeholder="用户名" (keyup)="nameFilter($event)">
      </md-input-container>
      <!--<select class="box-type" name="userType" id="userType">-->
      <!--<option value="0">用户类型</option>-->
      <!--<option value="1">注册用户</option>-->
      <!--<option value="2">已认证个人用户</option>-->
      <!--<option value="3">已认证机构用户</option>-->
      <!--</select>-->

      <!--<select class="box-type" name="userType" id="userState">-->
      <!--<option value="0">状态</option>-->
      <!--<option value="1">进行中</option>-->
      <!--<option value="2">审核通过</option>-->
      <!--<option value="3">审核未通过</option>-->
      <!--</select>-->

      <!--<select class="box-type" name="userType" id="updateTime">-->
      <!--<option value="0">更新时间</option>-->
      <!--<option value="1">一周内</option>-->
      <!--<option value="2">一月内</option>-->
      <!--<option value="3">三月内</option>-->
      <!--</select>-->

      <md-select placeholder="用户类型" [ngModel]="" (change)="userTypeValueChange($event)" [floatPlaceholder]="xxx">
        <md-option *ngFor="let item of userTypes" [value]="item.value">
          {{item.viewValue}}
        </md-option>
      </md-select>
      <md-select placeholder="状态">
        <md-option>
          111
        </md-option>
        <md-option>
          222
        </md-option>
      </md-select>
      <md-select placeholder="更新时间">
        <md-option>

        </md-option>
      </md-select>

      <button class="ysl-btn pro-import" (click)="importProduct()"><img src="./assets/images/pen.png">录入产品</button>
    </div>

    <div class="pro-list">
      <!--<ul>-->
      <!--<li class="pro-list-nav"><span class="all-select">全选</span> <span class="pro-name">产品名称</span>-->
      <!--<span>用户名称</span> <span class="user-type">用户类型</span> <span class="isMoney">是否收费</span>-->
      <!--<span class="user-state">状态</span> <span class="update-time">更新时间</span> <span class="option">操作</span>-->
      <!--</li>-->

      <!--<li *ngFor="let item of proList | paginate: {itemsPerPage: 10, currentPage: p}" class="pro-item">-->
      <!--<input type="checkbox"> <span>{{item.proName}}</span> <span>{{item.userName}}</span>-->
      <!--<span>{{item.userType}}</span> <span>{{item.isMoney}}</span> <span>{{item.state}}</span> <span>{{item.updateTime}}</span>-->
      <!--<span>-->
      <!--<a href="javascript:;" class="color-blue">启用</a> <a href="javascript:;" class="color-red">禁用</a>-->
      <!--<a href="javascript:;" class="green">上传</a> <a href="javascript:;" class="color-orange">查看 /</a>-->
      <!--<a href="javascript:;" class="color-orange">修改</a>-->
      <!--</span>-->
      <!--</li>-->
      <!--</ul>-->
      <!--分页处理-->
      <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->

      <ngx-datatable
        style="margin-top: 20px;text-align: center;min-width: 1120px"
        class="material"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="40"
        [externalPaging]="true"
        [externalSorting]="true"
        [count]="count"
        [limit]="pagingOption.limit"
        [offset]="pagingOption.offset"
        [loadingIndicator]="isFinished"
        [messages]="messages"
        [selectionType]="'checkbox'"
        (activate)="onActivate($event)"
        (select)="onSelect($event)"
        (page)="setProductsPage($event)"
        (sort)="doProductsSort($event)">
        <ngx-datatable-column
          class="striped"
          [width]="30"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="true"
          [headerCheckboxable]="false"
          [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column [width]="60"  name="名字" prop="name"></ngx-datatable-column>
        <ngx-datatable-column [width]="60" name="用户名" prop="userName"></ngx-datatable-column>
        <ngx-datatable-column [width]="60" name="用户类型" prop="userType"></ngx-datatable-column>
        <ngx-datatable-column [width]="30" name="是否收费" prop="premium"></ngx-datatable-column>
        <ngx-datatable-column [width]="60" name="状态" prop="status"></ngx-datatable-column>
        <ngx-datatable-column [width]="60" name="更新时间" prop="modifiedOn"></ngx-datatable-column>
        <ngx-datatable-column name="操作" prop="option" [width]="60">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <img style="width: 20px" (click)="openOrClose(row.$$index)"
                 [src]=" isOn[row.$$index] ? './assets/images/on.png' : './assets/images/off.png' " alt="">
            <label href="javascript:;" class="file">上传<input type="file"></label>
            <!--<a href="javascript:;" style="text-decoration: none;" class="color-orange" (click)="viewInfo(row)">&nbsp;修改 </a>-->
            <a href="javascript:;" style="text-decoration: none;margin-right: 10px" class="color-orange"
               (click)="editProduct(row)">&nbsp;查看&frasl;修改&nbsp;</a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>


<!--<div class="info-box" *ngIf="showProInfo">-->
<!--<div class="info-content">-->
<!--<div class="mage-title">-->
<!--<h3>产品信息</h3>-->
<!--<b class="color-blue font18 fork" (click)="closeProInfo()">X</b>-->
<!--</div>-->
<!--<div class="user-content">-->
<!--<span class="edit-btn fr" (click)="editInfo()"> <img src="./assets/images/edit.png">&nbsp;&nbsp;修改</span>-->
<!--<ul class="user-info-list">-->
<!--<li><span class="user-tag">项目名称</span> <input type="text" [(ngModel)]="proInfo.name" [disabled]="showEdit"></li>-->
<!--<li><span class="user-tag">用户名称</span> <input type="text" [(ngModel)]="proInfo.userName" [disabled]="showEdit">-->
<!--</li>-->
<!--<li><span class="user-tag">用户类型</span> <input type="text" [(ngModel)]="proInfo.userType" [disabled]="showEdit">-->
<!--</li>-->
<!--<li><span class="user-tag">是否收费</span> <input type="text" [(ngModel)]="proInfo.premium" [disabled]="showEdit">-->
<!--</li>-->
<!--<li><span class="user-tag">产品状态</span> <input type="text" [(ngModel)]="proInfo.status" [disabled]="showEdit">-->
<!--</li>-->
<!--<li><span class="user-tag">更新时间</span> <input type="text" [(ngModel)]="proInfo.modifiedOn"-->
<!--[disabled]="showEdit"></li>-->
<!--</ul>-->


<!--<button class="ysl-btn save-btn" (click)="updateProduct()">保存</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div *ngIf="import">
  <product-import></product-import>
</div>
