<div class="promage-nav">
  <div class="mage-title">
    <h3>产品管理</h3>
    <div>
      <input type="text" class="content-search" placeholder="名称/简介">
      <button class="btn search-btn"></button>
    </div>
  </div>
  <div class="own-prolist">
    <div class="selected-filter">
      <input class="box-type" type="text" placeholder="用户名称">
      <select class="box-type" name="userType" id="userType">
        <option value="0">用户类型</option>
        <option value="1">注册用户</option>
        <option value="2">已认证个人用户</option>
        <option value="3">已认证机构用户</option>
      </select>

      <select class="box-type" name="userType" id="userState">
        <option value="0">状态</option>
        <option value="1">进行中</option>
        <option value="2">审核通过</option>
        <option value="3">审核未通过</option>
      </select>

      <select class="box-type" name="userType" id="updateTime">
        <option value="0">更新时间</option>
        <option value="1">一周内</option>
        <option value="2">一月内</option>
        <option value="3">三月内</option>
      </select>
      <button class="btn pro-import" (click)="proImport()"><img src="./assets/images/pen.png">录入产品</button>
    </div>

    <div class="pro-list">
      <!--<ul>-->
        <!--<li class="pro-list-nav"><span class="all-select">全选</span> <span class="pro-name">产品名称</span>-->
          <!--<span>用户名称</span> <span class="user-type">用户类型</span> <span class="isMoney">是否收费</span>-->
          <!--<span class="user-state">状态</span> <span class="update-time">更新时间</span> <span class="option">操作</span>-->
        <!--</li>-->

        <!--<li *ngFor="let item of proList | paginate: {itemsPerPage: 10, currentPage: p}" class="pro-item">-->
          <!--<input type="checkbox"> <span>{{item.proName}}</span> <span>{{item.userName}}</span>-->
          <!--<span>{{item.userType}}</span> <span>{{item.isMoney}}</span> <span>{{item.state}}</span> <span>{{item.updateTime}}</span>-->
          <!--<span>-->
            <!--<a href="javascript:;" class="color-blue">启用</a> <a href="javascript:;" class="color-red">禁用</a>-->
            <!--<a href="javascript:;" class="green">上传</a> <a href="javascript:;" class="color-orange">查看 /</a>-->
            <!--<a href="javascript:;" class="color-orange">修改</a>-->
          <!--</span>-->
        <!--</li>-->
      <!--</ul>-->
      <!--分页处理-->
      <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->

      <ngx-datatable
        style="margin-top: 20px;text-align: center;min-width: 1120px"
        class="material"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="40"
        [limit]="10"
        [selectionType]="'checkbox'"
        (activate)="onActivate($event)"
        (select)='onSelect($event)'>
        <ngx-datatable-column
          class="striped"
          [width]="30"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="true"
          [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column name="proName"></ngx-datatable-column>
        <ngx-datatable-column [width]="60" name="userName"></ngx-datatable-column>
        <ngx-datatable-column name="userType"></ngx-datatable-column>
        <ngx-datatable-column [width]="30" name="isMoney"></ngx-datatable-column>
        <ngx-datatable-column [width]="60" name="state"></ngx-datatable-column>
        <ngx-datatable-column [width]="60" name="updateTime"></ngx-datatable-column>
        <ngx-datatable-column name="option">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a href="javascript:;" class="color-blue"> 启用 </a>
            <a href="javascript:;" class="color-red"> 禁用 </a>
            <a href="javascript:;" class="green"> 上传 </a>
            <a href="javascript:;" class="color-orange" (click)="viewInfo(row)">查看 / 修改 </a>

          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
<div class="info-box" *ngIf="showProInfo">
  <div class="info-content">
    <div class="mage-title">
      <h3>产品信息</h3>
      <b class="color-blue font18 fork" (click)="closeProInfo()">X</b>
    </div>
    <div class="user-content">
      <span class="edit-btn fr" (click)="editInfo()"> <img src="./assets/images/edit.png">&nbsp;&nbsp;修改</span>
      <ul class="user-info-list">
        <li><span class="user-tag">项目名称</span> <input type="text" [(ngModel)]="proInfo.proName"  [disabled]="showEdit"></li>
        <li><span class="user-tag">用户名称</span> <input type="text" [(ngModel)]="proInfo.userName" [disabled]="showEdit"></li>
        <li><span class="user-tag">用户类型</span> <input type="text" [(ngModel)]="proInfo.userType" [disabled]="showEdit"></li>
        <li><span class="user-tag">是否收费</span> <input type="text" [(ngModel)]="proInfo.isMoney" [disabled]="showEdit"></li>
        <li><span class="user-tag">产品状态</span> <input type="text" [(ngModel)]="proInfo.state" [disabled]="showEdit"></li>
        <li><span class="user-tag">更新时间</span> <input type="text" [(ngModel)]="proInfo.updateTime" [disabled]="showEdit"></li>
      </ul>

      <button class="btn save-btn">保存</button>
    </div>
  </div>
</div>
<div *ngIf="import">
  <product-import></product-import>
</div>
