<div>
  <div class="login-box">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="loginSubmit()" novalidate>
      <p class="login-title font24 color-gray"><span class="font18">登录用户账号</span><span class="fork" (click)="dialogRef.close()">x</span></p>
      <input type="text" class="user-count" placeholder="账号" formControlName="userAccount" required>
      <input type="password" class="user-psd" placeholder="密码" formControlName="userPassword" required>
      <div class="login-state">
        <label for="auto-login" class="color-gray"><input type="checkbox" id="auto-login"> 下次自动登录</label>
        <a class="forget-psd">忘记密码? </a>
      </div>
      <div class="error-group" *ngIf="loginForm.invalid && isLoginSubmit">
        <span *ngIf="loginFormError.userAccount">{{loginFormError.userAccount}}</span>
        <span *ngIf="!loginFormError.userAccount && loginFormError.userPassword">{{loginFormError.userPassword}}</span>
      </div>
      <button class="login ysl-btn">{{loginMess}}</button>
      <p class="text-center">还没有账号？ <a href="javascript:;" class="color-blue" (click)="gotoRegitster()" >点击注册</a></p>
    </form>
  </div>
</div>

