<ysl-loading *ngIf="isShowLoading" style="display: block; height: 100px;"></ysl-loading>
<div class="ysl-info-wrapper operation-product-errata product-management" *ngIf="!isShowLoading">
  <div class="filter-group">
    <form class="form-inline" [formGroup]="searchFilterForm" novalidate>
      <div class="ysl-input-group">
        <label class="visible-xs-inline-block">产品名称</label>
        <input type="text" placeholder="输入产品名称" formControlName="productName" (blur)="filter(1)">
      </div>
      <!--<div class="ysl-select-group col-md-2 col-xs-4">-->
        <!--<select name="" class="col-xs-12" formControlName="userType" (change)="filter()">-->
          <!--<option value='' disabled selected style='display:none;'>用户类型</option>-->
          <!--<option *ngFor="let t of userTypes" [value]="t.value">{{t.viewValue}}</option>-->
        <!--</select>-->
      <!--</div>-->
      <!--<div class="ysl-select-group col-md-1 col-xs-3 minw74">-->
        <!--<select name="" class="col-xs-12" formControlName="status" (change)="filter()">-->
          <!--<option value='' disabled selected style='display:none;'>状态</option>-->
          <!--<option *ngFor="let s of status" [value]="s.value">{{s.viewValue}}</option>-->
        <!--</select>-->
      <!--</div>-->
      <!--<div class="input-group col-md-5 col-xs-12">-->
      <!--<input type="text" formControlName="keyword">-->
      <!--<i class="fa fa-search" (click)="keywordSearch()"></i>-->
      <!--</div>-->
      <div class="ysl-datepicker-group">
        <label>提交时间</label>
        <div>
        <my-date-picker class="calendar" name="dataSince" [options]="myDatePickerOptions" formControlName="dataSince"></my-date-picker> -
        <my-date-picker class="calendar" name="dataUntil" [options]="myDatePickerOptions" formControlName="dataUntil"></my-date-picker>
        </div>
      </div>
    </form>
  </div>
  <p class="font16 text-center empty-list" *ngIf="listIsNull">暂未找到您要查询的数据产品</p>
  <div *ngIf="!listIsNull">
    <ul class="ysl-list-group">
      <li class="ysl-list-item" *ngFor="let c of dataItems | paginate: {itemsPerPage: pagingOption['limit'],
                                                      currentPage: currentPage,
                                                      totalItems: totalLength}; let ind = index;">
        <h1 class="user-name">
          <span>{{c.userName}}</span>
          <p class="other-info font12 text-color-middle">
            <span>状态：{{c.statusText}}</span>
            <span>提交时间：{{c.submitTime}}</span>
          </p>
        </h1>
        <div class="product">
          <p class="product-name text-color-middle"><a (click)="toProductDetail(c)">{{c.productName}}</a></p>
          <div class="ysl-btn-group">
            <button class="ysl-btn ysl-btn-primary ysl-btn-xs" (click)="processingError(c)">处理</button>
          </div>
        </div>
        <p class="modify-des">修改说明：{{c.comment}}</p>
      </li>
    </ul>
    <pagination-controls class="hidden-xs" (pageChange)="toNextPage($event);"
                         autoHide="true"
                         previousLabel="上一页"
                         nextLabel="下一页"></pagination-controls>
    <pagination-controls class="visible-xs-block" (pageChange)="toNextPage($event);"
                         autoHide="true"
                         previousLabel="<"
                         nextLabel=">"></pagination-controls>
  </div>
</div>
