<div class="ysl-info-wrapper operation-product-list product-management">
  <div class="product-import-sm-btn">
    <a class="btn product-import-sm-a hidden-md hidden-lg"><i class="fa fa-plus"></i></a>
  </div>
  <div class="filter-group">
    <form class="form-inline">
      <input type="text" class="col-md-1 col-xs-3 minw74" placeholder="用户名">
      <div class="ysl-select-group col-md-2 col-xs-4">
        <select name="" class="col-xs-12">
          <option value="">认证</option>
        </select>
      </div>
      <div class="ysl-select-group col-md-1 col-xs-3 minw74">
        <select name="" class="col-xs-12">
          <option value="">状态</option>
        </select>
      </div>
      <div class="input-group col-md-5 col-xs-12">
        <input type="text">
        <i class="fa fa-search"></i>
      </div>
    </form>
    <button class="ysl-btn ysl-btn-primary ysl-btn-md visible-md visible-lg">录入产品</button>
  </div>
  <ul class="ysl-list-group">
    <li class="ysl-list-item">
      <h1 class="user-name">
        <span>用户名 <i class="verify-account">认证的个人用户</i></span>
        <p class="other-info font12 text-color-middle">
          <span>收费</span>
          <span>状态：注册</span>
          <span>更新时间：2016.10.15</span>
        </p>
      </h1>
      <div class="product">
        <p class="product-name text-color-middle">陕西数据通中国经济数据库陕西数据通中国经济数据库陕西数据通中国经济数据库</p>
        <div class="ysl-btn-group">
          <button class="ysl-btn ysl-btn-primary ysl-btn-xs">上传</button>
          <button class="ysl-btn ysl-btn-primary ysl-btn-xs">禁用</button>
          <button class="ysl-btn ysl-btn-primary ysl-btn-xs">修改</button>
        </div>
      </div>
    </li>
  </ul>
</div>
