.ngx-datatable .datatable-header {
  background-color: #39baf6 !important;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  color: white;
  text-align: center;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: center;
}

.datatable-body-cell-label .datatable-checkbox input {
  margin: 0 0 0 .22rem;
}

.ngx-datatable.material .datatable-footer .datatable-pager {
  text-align: left;
}

.is-name {
  /*background-color: #6ce26c;*/
}

.is-name-left {
  text-align: left !important;
}

.secondTagDimensions {
  overflow: auto;
  padding-top: 0;
}

.product-import-my-btn {
  float: right;
  margin: 10px 0;
}

.product-import-my-a {
  background-color: #39baf6;
  border-radius: 5px;
  color: #fff;
  white-space: nowrap;
}

.product-list-ul {
  background-color: #f6faf9;
  border: none;
  margin-bottom: 10px;
}

@media (min-width: 450px) {
  .product-list {
    margin: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  .product-list {
    margin: 0 45px;
  }

}

@media screen and (max-width: 414px) {
  .fixpadding {
    padding: 0 15px 0 30px;
  }

  .product-import-my-btn {
    position: fixed;
    bottom: 70px;
    right: 5%;
    z-index: 1
  }

  .product-import-my-a {
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    padding:0;
    font-size: 40px;
    -webkit-text-stroke: 7px #39baf6;
    -webkit-box-shadow: 1px 2px 5px #cccccc;
    -moz-box-shadow: 1px 2px 5px #cccccc;
    box-shadow: 1px 2px 5px #cccccc;
  }

  .import-product-text {
    display: none;
  }

  .product-list-ul {
    margin: 10px 0;
  }
}

.pro-list .ngx-datatable {
  min-width: 0 !important;
}

.ngx-datatable.material .datatable-checkbox {
  padding: 0;
  display: flex;
}

.ngx-datatable.material .datatable-checkbox label {
  padding: 10px !important;
}

.ngx-datatable.material .datatable-checkbox input:checked:before {
  height: .22rem;
}

.ngx-datatable.material .datatable-checkbox input:before {
  height: .44rem;
  width: .44rem;
}

.ngx-datatable.material .datatable-checkbox input:after {
  height: .44rem;
  width: .44rem;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  padding: .22rem .22rem .22rem .22rem;
}

.ngx-datatable.material .datatable-header .datatable-header-cell:first-child .datatable-checkbox {
  display: inline-flex;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  /*text-align: center;*/
  padding: 0;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell div {
  padding: 10px 0;
  margin-bottom: 0;
}

.upload-file {
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 12px;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  line-height: 10px;
}

.upload-file input {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-file:hover {
  background: #AADFFD;
  border-color: #78c3f3;
  color: #004974;
  text-decoration: none;
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
}

.flex-center span {
  padding: 0px;
}

.edit-btn {
  /*background-color: #39baf6;*/
  padding: 2px 8px;
  border-radius: 5px;
  color: #39baf6;
  text-decoration: none !important;
  font-size: 12px;
  cursor: pointer;
  float: right;
  width: 40px;
}

.product-list-name {
  color: #333333;
  cursor: pointer;
}

.product-list-name:hover {
  color: #39baf6;
}

.product-list-fa-icon {
  display: inline-block;padding:0 10px 0 5px;color: #a5aaad;font-size: 12px;
}

.mat-radio-checked .mat-radio-outer-circle {
  border-color: #39baf6;
}

.mat-radio-inner-circle {
  background-color: black;
}

.select1 {
  padding-bottom: 20px;
}

.select1 .mat-select-trigger {
  color: #333333;
  font-size: 14px;
}

.select1 .mat-select-arrow {
  color: #333;
}

.select1 .mat-select-underline {
  background-color: #dee1e0;
}

.ngx-pagination .current {
  margin-bottom: 30px;
}

.list-empty {
  text-align: center;
  margin: 20px;
  height: 40px;
}

.mat-tab-label {
  color: black;
}

.product-import-item2 .mat-tab-label-container {
  overflow: scroll;
}

.product-import-item2 .mat-tab-label-container::-webkit-scrollbar, .mat-tab-labels::-webkit-scrollbar {
  display: none;
}


.product-import-item2 .mat-tab-label {
  min-width: 110px !important;
}

.product-import-item2 .mat-tab-label-active {
  color: #1c94c4;
}

.product-import-item2 .mat-tab-header-pagination {
  height: 48px;
}

.product-import-item2 .mat-elevation-z4 {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.product-import-item2 .mat-ink-bar {
  background-color: #f5f8f7;
}

.pro-list {
  padding-bottom: 10px;
}
