.ngx-datatable .datatable-header {
  background-color: #39baf6 !important;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  color: white;
  text-align: center;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: center;
}

.datatable-body-cell-label .datatable-checkbox input {
  margin: 0 0 0 .22rem;
}

.ngx-datatable.material .datatable-footer .datatable-pager {
  text-align: left;
}

.is-name {
  /*background-color: #6ce26c;*/
}

.is-name-left {
  text-align: left !important;
}

.secondTagDimensions {
  overflow: auto;
  padding-top: 0;
}

@media (min-width: 450px) {
  .product-list {
    margin: 0 10px;
  }

  .selected-filter-list {
    margin: 0 10px;
  }

}

@media screen and (min-width: 768px){
  .product-list {
    margin: 0 45px;
  }

  .selected-filter-list {
    margin: 20px -15px 10px -15px;
  }
}

@media screen and (max-width: 414px){
 .fixpadding{
   padding: 0 15px 0 30px;
 }
}

.pro-list .ngx-datatable {
  min-width: 0 !important;
}

.ngx-datatable.material .datatable-checkbox {
  padding: 0;
  display: flex;
}

.ngx-datatable.material .datatable-checkbox label {
  padding: 10px !important;
}

.ngx-datatable.material .datatable-checkbox input:checked:before {
  height: .22rem;
}

.ngx-datatable.material .datatable-checkbox input:before {
  height: .44rem;
  width: .44rem;
}

.ngx-datatable.material .datatable-checkbox input:after {
  height: .44rem;
  width: .44rem;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  padding: .22rem .22rem .22rem .22rem;
}

.ngx-datatable.material .datatable-header .datatable-header-cell:first-child .datatable-checkbox {
  display: inline-flex;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  /*text-align: center;*/
  padding: 0;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell div {
  padding: 10px 0;
  margin-bottom: 0;
}

.upload-file {
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border:1px solid #ddd;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  padding:4px 12px;
  color: #1E88C7;
  text-decoration: none;
  text-indent:0;
  line-height: 10px;
}
.upload-file input{
  width: 100%;
  position: absolute;
  left:0;
  top:0;
  opacity: 0;
}
.upload-file:hover{
  background: #AADFFD;
  border-color: #78c3f3;
  color: #004974;
  text-decoration: none;
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items:center;
  overflow: auto;
}

.flex-center span {
  padding: 0px;
}

.edit-btn {
  background-color: #39baf6;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none !important;
  font-size: 12px;
  cursor: pointer;
  float: right;
}

.product-list-name {
  color: #333333;
  cursor: pointer;
}

.product-list-name:hover {
  color: #39baf6;
}

.mat-radio-checked .mat-radio-outer-circle {
  border-color: #39baf6;
}

.mat-radio-inner-circle {
  background-color: black;
}


