<div class="promage-nav">
  <div class="mage-title">
    <h3>产品管理</h3>
    <div class="ysl-search-box">
      <input type="text" class="content-search" placeholder="名称/简介">
      <button class="ysl-btn search-btn"></button>
    </div>
  </div>
  <div class="own-prolist">
    <div class="selected-filter">
      <input class="box-type" type="text" placeholder="产品名称"> &nbsp;&nbsp;&nbsp;

        <span>提交时间</span>
        <ngx-datepicker class="calendar" name="timeFrom" [(ngModel)]="timeFrom"></ngx-datepicker> -
        <ngx-datepicker class="calendar" name="timeFrom" [(ngModel)]="timeFrom"></ngx-datepicker>
    </div>

    <div class="pro-list">
      <!--<ul>-->
      <!--<li class="pro-list-nav"><span class="all-select">全选</span> <span class="pro-name">产品名称</span>-->
      <!--<span>用户名称</span> <span class="user-type">用户类型</span> <span class="isMoney">是否收费</span>-->
      <!--<span class="user-state">状态</span> <span class="update-time">更新时间</span> <span class="option">操作</span>-->
      <!--</li>-->

      <!--<li *ngFor="let item of proList | paginate: {itemsPerPage: 10, currentPage: p}" class="pro-item">-->
      <!--<input type="checkbox"> <span>{{item.proName}}</span> <span>{{item.userName}}</span>-->
      <!--<span>{{item.userType}}</span> <span>{{item.isMoney}}</span> <span>{{item.state}}</span> <span>{{item.updateTime}}</span>-->
      <!--<span>-->
      <!--<a href="javascript:;" class="color-blue">启用</a> <a href="javascript:;" class="color-red">禁用</a>-->
      <!--<a href="javascript:;" class="green">上传</a> <a href="javascript:;" class="color-orange">查看 /</a>-->
      <!--<a href="javascript:;" class="color-orange">修改</a>-->
      <!--</span>-->
      <!--</li>-->
      <!--</ul>-->
      <!--分页处理-->
      <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->

      <ngx-datatable
        style="text-align: center;margin-top: 20px;min-width: 1120px"
        class="material"
        [rows]="rows "
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="40"
        [limit]="10"
        [selectionType]="'checkbox'"
        (activate)="onActivate($event)"
        (select)='onSelect($event)'>
        <ngx-datatable-column
          class="striped"
          [width]="30"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="true"
          [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column name="proName" class="text-center"></ngx-datatable-column>
        <ngx-datatable-column [width]="60" name="userName" class="text-center"></ngx-datatable-column>
        <ngx-datatable-column name="problem" class="text-center"></ngx-datatable-column>
        <ngx-datatable-column name="submitTime" class="text-center"></ngx-datatable-column>
        <ngx-datatable-column name="option">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a href="javascript:;" class="color-orange" (click)="modifyError(row)">查看 / 修改</a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>

<div class="edit-eorror" *ngIf="errorEdit">
  <div class="edit-box">
    <div class="error-title">
      <h3>内容描述</h3> <b style="cursor: pointer" class="color-bluelight font18" (click)="closeError()">X</b>
    </div>
    <div class="error-content">
      {{error.problem}}
    </div>
    <h3 style="display: inline-block">修改链接</h3> <img src="./assets/images/edit.png">
    <a href="javascript:;">这里是链接</a>
    <div class="error-article">
    </div>

    <button class="ysl-btn btn-submit fr" >提交</button>
  </div>
</div>

