.operate-manage{
  width: 100%;
  height: 100%;
}
.manage-left{
  width: 200px;
  height: 100%;
  padding-top: 20px;
  background: #f3f8fa;
  float: left;
  text-align: center;
}
.manage-right{
  width: 100%;
  padding-left: 220px;
}


/*用户管理*/
.user-manage{
  width: 100%;
}
.content-search{
  width: 320px;
  height: 30px;
  outline:none;
  padding-left: 10px;
}
.total-user-list{
  width: 100%;
  margin-top: 20px;
}
.box-type{
  padding:10px;
  border:1px solid #ddd;
  outline: none;
}
.add-user{
  padding:10px;
  color: #fff;
  background: #39baf6;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  width: 100px;
  float: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.new-user{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.13);
  z-index: 10000000;
}
.new-user-box{
  padding: 30px;
  width: 520px;
  background: #fff;
  margin:0 auto;
  margin-top: 60px;
}
.base-info,.gov-info{
  margin-top: 20px;
  width: 100%;
  padding:0 22px;
  padding-bottom: 16px;
  border-bottom: 1px dashed #ddd;
}
.base-info-list,.gov-info-list{
  margin-top: 20px;
}
.base-info-list li{
  width: 100%;
  text-align: right;
  margin-bottom:10px;
}
.base-info-list input{
  width: 320px;
  padding-left: 10px;
  margin-left: 10px;
}
.gov-info-list li{
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}
.gov-info-list input{
  width: 320px;
  padding-left: 10px;
  margin-left: 10px;
}
.file-box{
  width: 320px;
  padding-left: 10px;
  margin-left: 10px;
  display: inline-block;
  text-align: left;
}


/*查看用户信息弹框*/



