.operate-manage{
  width: 100%;
  height: 100%;
}
.manage-left{
  width: 200px;
  height: 100%;
  padding-top: 20px;
  background: #f3f8fa;
  float: left;
  text-align: center;
}
.manage-right{
  width: 100%;
  padding-left: 220px;
}


/*用户管理*/
.user-manage{
  width: 100%;
}
.content-search{
  width: 320px;
  height: 30px;
  outline:none;
  padding-left: 10px;
}
.total-user-list{
  width: 100%;
  margin-top: 20px;
}
.box-type{
  padding:10px;
  border:1px solid #ddd;
  outline: none;
}
.add-user{
  padding:10px;
  color: #fff;
  background: #39baf6;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  width: 100px;
  float: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.new-user-box{
  padding: 30px;
  width: 520px;
  background: #fff;
  margin:0 auto;
  margin-top: 60px;
}
.base-info,.gov-info{
  margin-top: 20px;
  width: 100%;
  padding:0 22px;
  padding-bottom: 16px;
  border-bottom: 1px dashed #ddd;
}
.base-info-list,.gov-info-list{
  margin-top: 20px;
}
.base-info-list li{
  width: 100%;
  text-align: right;
  margin-bottom:10px;
}
.base-info-list input{
  width: 320px;
  padding-left: 10px;
  margin-left: 10px;
}
.gov-info-list li{
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}
.gov-info-list input{
  width: 320px;
  padding-left: 10px;
  margin-left: 10px;
}
.file-box{
  width: 320px;
  padding-left: 10px;
  margin-left: 10px;
  display: inline-block;
  text-align: left;
}


/*查看用户信息弹框*/

/* new start */
.user-center{
  background-color: #f7f7f7;
  padding-bottom: 60px;
}
.user-center-bg{
  height: 200px;
  background: url(../../assets/images/user-center-bg.jpg) no-repeat left top/cover;
}
.user-nav{
  margin-bottom: 40px;
}
.user-des .fa-edit{
  cursor: pointer;
}
.user-center-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -69px auto 40px;
}
.user-center-info .profile-picture{
  display: inline-block;
  height: 138px;
  width: 138px;
  border-radius: 100%;
  background-color: #fff;
  border: 3px solid #fff;
  margin: 0 auto 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.user-center-info .profile-picture [type=file]{
  width: 106%;
  height: 106%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  cursor: pointer;
}
.user-center-info .profile-picture img{
  width: 130%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.user-center-info .des{
  margin-top: 5px;
}
.user-center-info .un-editable{
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-center-info .editable{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-center-info .editable textarea{
  width: 300px;
  padding: 0 5px;
}
.user-center-info .editable .ng-invalid{
  border-color: #ec7c45;
}
.user-center-info .editable .ysl-btn{
  background-color: #ec7c45;
  color: #fff;
  margin-top: 5px;
}
.user-center-info .fa-edit{
  display: block;
  font-size: 18px;
  margin-bottom: -3px;
  margin-left: 5px;
}

/* new end */
.empty-list{
  margin-top: 20px;
}
.ysl-info-wrapper{
  padding: 20px 50px;
}
.ysl-upload-file{
  position: relative;
}
.ysl-upload-file input[type=file]{
  height: 25px;
  width: 48px;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
.filter-group{
  height: 60px;
  background-color: #e0ebf0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.filter-group .form-inline{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  color: #6d777f;
  align-items: center;
  justify-content: space-between;
}
.filter-group .form-inline>*{
  height: 30px;
  line-height: 30px;
  padding: 0;
  background-color: #fff;
}
.filter-group .input-group{
  display: flex;
  border: 1px solid #c1dce8;
  overflow: hidden;
}
.filter-group .form-inline input{
  padding-left: 10px;
}
.filter-group .form-inline>input{
  border: 1px solid #c1dce8;
}
.filter-group .input-group>*{
  height: 100%;
  line-height: 100%;
}
.filter-group .input-group input{
  flex: 1;
}
.filter-group .input-group input,.filter-group .ysl-select-group select{
  height: 100%;
  line-height: 100%;
  border: none;
  padding-left: 10px;
}
.filter-group select{
  width: 100%;
}
.filter-group .ysl-select-group{
  position: relative;
}
.filter-group .ysl-select-group .triangle-down{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-top-color: #c1dce8;
}
.filter-group .input-group .fa-search{
  line-height: 28px;
  width: 28px;
  text-align: center;
  cursor: pointer;
}
.filter-group .ysl-select-group{
  background-color: #fff;
  border: 1px solid #c1dce8;
}
.filter-group .form-inline>.ysl-datepicker-group{
  background-color: transparent;
  display: flex;
}
.ysl-datepicker-group>div{
  display: flex;
  align-items: center;
  width: 212px;
  justify-content: space-between;
}
.ysl-list-group{
  margin-top: 20px;
}
.user-name .verify-account{
  display: inline-block;
  padding: 0 12px;
  height: 20px;
  line-height: 20px;
  background-color: #fff0e2;
  color: #ffaa58;
  font-size: 12px;
  border-radius: 6px;
  margin-left: 10px;
}
.user-name .other-info>*{
  margin-right: 8px;
}
.user-name a{
  cursor: pointer;
}

/*产品管理*/
.product-management .user-name{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-management .product{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-management .ysl-btn-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-management .ysl-btn-group>*{
  margin-right: 10px;
}
.product-management .ysl-btn-group>*:last-child{
  margin-right: 0;
}
/*产品列表*/
.operation-product-list .form-inline{
  width: 52%;
}
.operation-product-list .form-inline .minw74{
  min-width: 74px;
}
.operation-product-list .form-inline .w100{
  width: 100%;
}
.product-import-sm-btn{
  position: fixed;
  bottom: 70px;
  right: 5%;
  z-index: 1
}
.product-import-sm-a{
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  padding:0;
  font-size: 40px;
  -webkit-text-stroke: 7px #39baf6;
  -webkit-box-shadow: 1px 2px 5px #cccccc;
  -moz-box-shadow: 1px 2px 5px #cccccc;
  background-color: #39baf6;
  box-shadow: 1px 2px 5px #cccccc;
}
/*纠错处理*/
.operation-product-errata .form-inline{
  width: 100%;
  justify-content: flex-start;
}
.operation-product-errata .filter-group .ysl-input-group{
  background-color: transparent;
  margin-right: 10px;
}
.operation-product-errata .ysl-input-group input{
  height: 30px;
  line-height: 30px;
  border: 1px solid #c1dce8;
}
.operation-product-errata label{
  font-weight: normal;
  width: 4em;
  text-align: right;
  margin-right: 8px;
}
.operation-product-errata .ysl-btn-disabled{
  background-color: #ddd;
  cursor: not-allowed;
}

/*用户管理*/

/*运营报告*/
.operational-report{
  padding: 20px;
}
.operational-report .curr-online{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}
.operational-report .chart-title{
  font-size: 16px;
  margin-bottom: 15px;
}
.operational-report .chart-wrapper{
  margin-bottom: 20px;
}
.operational-report .chart-wrapper:last-of-type{
  margin-bottom: 0;
}
.operational-report .data-list{
  min-height: 294px;
  padding: 10px;
  background-color: #f6faf9;
}
.operational-report .data-list li{
  margin: 5px 0;
}
.operational-report .data-list a{
  cursor: pointer;
}
.operational-report .ysl-chart{
  height: 310px;
}

@media screen and (min-width: 1200px){
  .user-manage .ysl-w-30{
    width: 30%;
  }
}
@media screen and (max-width: 1199px) {
  .user-manage .hidden-lg .ysl-btn-primary{
    margin-right: 15px;
  }
}
@media screen and (max-width: 992px){
  .filter-group{
    padding: 0 15px;
  }
  .ysl-info-wrapper{
    padding: 20px 0;
  }
  .user-manage .filter-group{
    height: 80px;
  }
}
@media screen and (max-width: 768px){
  .filter-group .form-inline{
    width: 100%;
    align-content: space-around;
    justify-content: space-between;
  }
  .product-management .user-name{
    flex-direction: column;
    align-items: flex-start;
  }
  .user-name .other-info{
    margin-top: 10px;
  }
  .operation-product-errata .form-inline{
    align-items: flex-start;
  }
  .operation-product-errata .filter-group{
    height: 80px;
  }
  .operation-product-errata .filter-group .ysl-input-group{
    display: flex;
  }
  .operation-product-errata .ysl-input-group input{
    width: 212px;
  }
  .operation-product-errata .filter-group .form-inline{
    flex-direction: column;
    justify-content: space-around;
  }
  .operational-report .chart-item:last-of-type{
    margin-top: 20px;
  }
}
@media screen and (max-width: 414px){
  .operational-report .ysl-chart{
    height: 250px;
  }
}
