.operate-manage{
  width: 100%;
  height: 100%;
}
.manage-left{
  width: 203px;
  float: left;
  text-align: center;
}
.manage-right{
  width: 100%;
  padding-left: 225px;
}
.operate-menu{
  width: 100%;
  margin-top: 20px;
}
.menu-item{
  width: 100%;
  line-height:50px;
  font-size: 16px;
  padding:0 30px;
  text-align: justify;
  cursor: pointer;
  outline:none;
  position: relative;
}
.user-arrow{
  margin-left: 66px;
}
.active{
  background: #39baf6;
  color: #fff;
}
.operate-second-menu{
  position: absolute;
  top:50px;
  left:0;
  width: 100% ;
  background: #fff;
  color: #000;
  text-align: center;
  outline: none;
}
.operate-second-menu li{
  outline: none;
  width: 100%;
  line-height:50px;
}
.color-lightblue{
  background: #c3e2f0 !important;
}

/*用户管理*/
.user-manage{
  width: 100%;
}
.mage-title{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #39baf6;
  line-height: 50px;
}
.content-search{
  width: 320px;
  height: 30px;
  outline:none;
  padding-left: 10px;
}
.search-btn{
  width: 82px;
  height: 30px;
  vertical-align: middle;
  background-color: #39baf6;
  margin-left: -5px;
  cursor: pointer;
  background-image: url("../../assets/images/search.png");
  background-repeat: no-repeat;
  background-position: center;
}
.total-user-list{
  width: 100%;
  margin-top: 20px;
}
.box-type{
  padding:10px;
  border:1px solid #ddd;
  outline: none;
}
.add-user{
  padding:10px;
  color: #fff;
  background: #39baf6;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  width: 100px;
  float: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.new-user{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.13);
  z-index: 10000000;
}
.new-user-box{
  padding: 30px;
  width: 520px;
  background: #fff;
  margin:0 auto;
  margin-top: 60px;
}
.base-info,.gov-info{
  margin-top: 20px;
  width: 100%;
  padding:0 22px;
  padding-bottom: 16px;
  border-bottom: 1px dashed #ddd;
}
.base-info-list,.gov-info-list{
  margin-top: 20px;
}
.base-info-list li{
  width: 100%;
  line-height: 50px;
  text-align: right;
}
.base-info-list input{
  width: 320px;
  padding-left: 10px;
  margin-left: 10px;
}
.gov-info-list li{
  width: 100%;
  line-height: 50px;
  text-align: right;
}
.gov-info-list input{
  width: 320px;
  padding-left: 10px;
  margin-left: 10px;
}
.file-box{
  width: 320px;
  padding-left: 10px;
  margin-left: 10px;
  display: inline-block;
  text-align: left;
}
.file {
  height: 30px;
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border:1px solid #ddd;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  padding:4px 12px;
  color: #1E88C7;
  text-decoration: none;
  text-indent:0;
  line-height: 20px;
  margin-right: 10px;
}
.file input{
  position: absolute;
  left:0;
  top:0;
  opacity: 0;
}
.file:hover{
  background: #AADFFD;
  border-color: #78c3f3;
  color: #004974;
  text-decoration: none;
}
