.container{
  width: 53%;
}
.search-box{
  margin:0 auto;
  position: relative;
  margin-bottom: 30px;
}
.search-input{
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #737373 ;
  border: 1px solid #d8e5e7;
  padding-left: 10px;
}
.search-input:focus{
  outline: none;
}
.ysl-input-group{
  position: relative;
  padding: 0;
}
.ysl-input-group input{
  width: 100%;
}
.search .fa-search{
  font-size: 19px;
}
.ysl-search-box{
  display: flex;
  align-items: center;
}
.searchbtn{
  display: inline-block;
  height: 30px;
  line-height: 30px;
  background: #ff4307;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
}
.advanced-box{
  width: 83.33%;
  text-align: center;
  border:1px solid #d8e5e7;
  border-top:none;
  position: absolute;
  top:30px;
  left:0;
  background: #fff;
  z-index: 1000;
  padding:0 70px;
  padding-top:12px;
  padding-bottom: 10px;
  font-size: 13px;
  font-family: '微软雅黑';
  color: #2e3e45;
}
.advanced-box select{
  border: 1px solid #d8e5e7;
  height: 30px;
  line-height: 30px;
}
.advanced-input{
  height: 30px;
  border:1px solid #d8e5e7;
  padding-left:10px;
}
.form-group>label{
  height: 30px;
  line-height: 30px;
}
.form-group label{
  font-weight: normal;
}
.radio-inline{
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .container{
    width: 90%;
  }
}
