<!--搜索框-->
<div class="search-box container">
  <form class="row" [formGroup]="keywordSearchForm" (ngSubmit)="keywordSubmit(keywordSearchForm)" novalidate>
    <div class="ysl-input-group col-xs-10">
      <input type="text" class="search-input" formControlName="keyword" required>
      <span class="triangle-down triggle-position" *ngIf="!hideAdvancedSearch" (click)="toggleAdvancedBox();$event.stopPropagation()"></span>
    </div>
    <button class="searchbtn col-xs-2"><i class="fa fa-search"></i></button>
    <!--routerLink="/datalist"-->
  </form>
  <form [formGroup]="advancedSearchForm" class="advanced-box form-horizontal" *ngIf="isShowAdvancedBox" (ngSubmit)="advancedSearchSubmit()" (click)="$event.stopPropagation()" novalidate>
    <div class="form-group">
      <label class="col-xs-5 col-sm-4">关键词</label>
      <input type="text" class="col-xs-7 col-sm-8 advanced-input" formControlName="keyword">
    </div>
    <div class="form-group">
      <label class="col-xs-5 col-sm-4">来源</label>
      <div class="col-xs-7 col-sm-8 ysl-select-group">
        <select class="col-xs-12" formControlName="dataSource">
          <option *ngFor="let s of advanceInfo.data_source" [value]="s.entryCode">{{s.entryValue}}</option>
        </select>
        <span class="triangle-down"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-5 col-sm-4">是否收费</label>
      <div class="radio-inline col-xs-3 col-sm-4">
        <label><input type="radio" formControlName="premium" [value]="true">是</label>
      </div>
      <div class="radio-inline col-xs-3 col-sm-4">
        <label><input type="radio" formControlName="premium" [value]="false">否</label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-5 col-sm-4">数据类型</label>
      <div class="col-xs-7 col-sm-8 ysl-select-group">
        <select class="col-xs-12" formControlName="dataCategory">
          <option *ngFor="let c of advanceInfo.data_category" [value]="c.entryCode">{{c.entryValue}}</option>
        </select>
        <span class="triangle-down"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-5 col-sm-4">服务方式</label>
      <div class="col-xs-7 col-sm-8 ysl-select-group">
        <select class="col-xs-12" formControlName="serviceMethod">
          <option *ngFor="let d of advanceInfo.data_service" [value]="d.entryCode">{{d.entryValue}}</option>
        </select>
        <span class="triangle-down"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-5 col-sm-4">采集方式</label>
      <div class="col-xs-7 col-sm-8 ysl-select-group">
        <select class="col-xs-12" formControlName="collectionMethod">
          <option *ngFor="let d of advanceInfo.data_collection" [value]="d.entryCode">{{d.entryValue}}</option>
        </select>
        <span class="triangle-down"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-5 col-sm-4">数据样本</label>
      <div class="radio-inline  col-xs-3 col-sm-4">
        <label><input type="radio" formControlName="sampleFileProvided" [value]="true">是</label>
      </div>
      <div class="radio-inline  col-xs-3 col-sm-4">
        <label><input type="radio" formControlName="sampleFileProvided" [value]="false">否</label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-5 col-sm-4">时间范围</label>
      <div class="ysl-time-group col-xs-7 col-sm-8">
        <my-date-picker class="calendar" name="dataSince" [options]="myDatePickerOptions" formControlName="dataSince"></my-date-picker> -
        <my-date-picker class="calendar" name="dataUntil" [options]="myDatePickerOptions" formControlName="dataUntil"></my-date-picker>
      </div>
    </div>
    <!--<li><span class="advance-title">时间范围</span>-->
    <!--<ngx-datepicker class="calendar" name="timeFrom" [(ngModel)]="data.timeFrom"></ngx-datepicker> - -->
    <!--<ngx-datepicker class="calendar" name="timeTo" [(ngModel)]="data.timeTo"></ngx-datepicker>-->
    <!--</li>-->
    <div class="form-group">
      <button class="searchbtn ysl-btn col-xs-7 col-sm-8 col-xs-offset-5 col-sm-offset-4">搜索</button>
    </div>
  </form>
</div>
