.container{
  width: 53%;
}
.keyword-search{
  height: 45px;
  line-height: 45px;
}
.ysl-input-group{
  height: 100%;
  line-height: 100%;
  position: relative;
  padding: 0;
}
.search-box{
  margin:0 auto;
  position: relative;
  margin-bottom: 30px;
}
.search-input{
  height: 100%;
  line-height: 100%;
  font-size: 16px;
  color: #737373 ;
  border: 1px solid #d8e5e7;
  padding: 0 38px 0 10px;
}
.search-input:focus{
  outline: none;
}
.search-input::-moz-placeholder{
  color: #999;
  font-size: 14px;
}
.search-input:-ms-input-placeholder{
  color: #999;
}
.search-input::-webkit-input-placeholder{
  color: #999;
}
.ysl-input-group input{
  width: 100%;
}
.fa-search{
  font-size: 20px;
}
.searchbtn{
  height: 30px;
  line-height: 30px;
  background: #ff4307;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
}
.searchbtn:hover,.searchbtn:focus{
  text-decoration: none;
}
.keyword-search .searchbtn{
  justify-content: space-around;
  height: 100%;
  line-height: 100%;
}
.advanced-box{
  width: 83.33%;
  text-align: center;
  border:1px solid #d8e5e7;
  border-top:none;
  position: absolute;
  top:45px;
  left:0;
  background: #fff;
  z-index: 1000;
  padding: 12px 1.944rem;
  padding-bottom: 10px;
  font-size: 13px;
  font-family: '微软雅黑';
  color: #2e3e45;
}
.advanced-box .form-group{
  margin-bottom: 5px;
}
.advanced-box .radio-inline+.radio-inline,.advanced-box .checkbox-inline+.checkbox-inline{
  margin-left: 0;
}
.advanced-box .checkbox-inline input[type=checkbox], .advanced-box .radio-inline input[type=radio]{
  /*vertical-align:middle; margin-top:-2px; margin-bottom:1px;*/
}
.advanced-box select{
  border: 1px solid #d8e5e7;
  height: 30px;
  line-height: 30px;
}
.advanced-input{
  height: 30px;
  border:1px solid #d8e5e7;
  padding-left:10px;
}
.form-group>label{
  height: 30px;
  line-height: 30px;
}
.form-group label{
  font-size: 0.389rem;
  font-weight: normal;
  margin-bottom: 0;
}
.radio-inline{
  margin-left: 0;
}
.ysl-time-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.calendar{
  width: 100%;
}
.search-history{
  position: absolute;
  width: 83.33%;
  top: 44px;
  left: 0;
  color: #333;
  background-color: #fff;
  z-index: 3;
  border: 1px solid #d8e5e7;
}
.search-history ul{
  width: 100%;
  margin-bottom: 0;
}
.search-history li{
  height: 28px;
  line-height: 28px;
  text-align: left;
  padding-left: 10px;
}
.search-history .close-history{
  border-top: 1px solid #d8e5e7;
  text-align: right;
}
.search-history .close-history span{
  display: inline-block;
  height: 100%;
  padding: 0 10px;
  border-left: 1px solid #d8e5e7;
  cursor: pointer;
}
.search-history li:not(.close-history):hover, .search-history .close-history span:hover{
  background-color: #d8e5e7;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .form-group{
    margin-right: 0;
  }
  .advanced-box{
    padding: 12px 10px;
  }
}
@media screen and (min-width: 992px){
  .advanced-box, .search-history{
    width: 91.66666667%;
  }
}
@media screen and (max-width: 768px) {
  .container{
    width: 100%;
  }
  .form-group{
    margin-right: 0;
  }
  .advanced-box{
    padding: 12px 10px;
  }
  .search-input{
    font-size: 13px;
  }
}

