.header {
  padding: 0 120px;
  height: 50px;
  line-height: 50px;
  background: #fff;
  border: 1px solid #d8e5e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .head-left {
  width: 201px;
  height: 34px;
  float: left;
  background: url("../assets/images/logo.png") no-repeat;
}
.header .head-right {
  float: right;
}
.header .btn {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.header .user-center-btn {
  display: inline-block;
  cursor: pointer;
  background: #fff;
  padding: 0 20px;
  border: 1px solid #d8e5e7;
  height: 50px;
  background: url("../assets/images/arrowdown.png") no-repeat right center;
  background-position-x: 88px ;
}
.header .login-btn {
  background: #fff;
  font-size: 18px;
  color: #1c94c4;
  border: 1px solid #1c94c4;
}
.header .register-btn {
  background: #1c94c4;
  font-size: 18px;
  color: #fff;
}
