.thumb-up-list {
  margin-top: 20px;
}

@media all and (max-width: 450px) {
  .thumb-up-list {
    margin-top: 0px;
  }
}

@media all and (min-width: 768px){
  .thumb-up-list {
    margin-top: 20px;
  }
}
