.thumb-up-list {
  margin-top: 20px;
}

@media all and (max-width: 450px) {
  .thumb-up-list {
    margin-top: 0;
  }

  .product-total-thumb{
    padding-right: 10px;
  }
}

@media all and (min-width: 768px){
  .thumb-up-list {
    margin-top: 20px;
  }
}
