<div class="user-manage">
  <div class="mage-title">
    <h3>用户管理</h3>
    <div style="display: flex;">
      <input type="text" class="content-search" placeholder="名称/简介">
      <button class="ysl-btn search-btn"></button>
    </div>
  </div>
  <div class="total-user-list">
    <div class="selected-filter">
      <input class="box-type" type="text" placeholder="用户账号">
      <input class="box-type" type="text" placeholder="用户名称">
      <select class="box-type" name="userType" id="userType">
        <option value="0">用户类型</option>
        <option value="1">注册用户</option>
        <option value="2">已认证个人用户</option>
        <option value="3">已认证机构用户</option>
      </select>

      <select class="box-type" name="userType" id="userState">
        <option value="0">状态</option>
        <option value="1">进行中</option>
        <option value="2">审核通过</option>
        <option value="3">审核未通过</option>
      </select>
      <button class="ysl-btn add-user" (click)="addUser()"><img src="./assets/images/pen.png">增加用户</button>
    </div>
  </div>

  <div class="total-user-list">
    <ngx-datatable
      style="text-align: center;min-width: 1120px"
      class="material"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="40"
      [limit]="10"
      [selectionType]="'checkbox'"
      (activate)="onActivate($event)"
      (select)='onSelect($event)'>
      <ngx-datatable-column
        class="striped"
        [width]="30"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column name="userCount"></ngx-datatable-column>
      <ngx-datatable-column [width]="50" name="userName"></ngx-datatable-column>
      <ngx-datatable-column name="userType"></ngx-datatable-column>
      <ngx-datatable-column [width]="60" name="userState"></ngx-datatable-column>
      <ngx-datatable-column [width]="60" name="userPhone"></ngx-datatable-column>
      <ngx-datatable-column name="option">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <a href="javascript:;" class="color-blue"> 启用 </a>
          <a href="javascript:;" class="color-red"> 禁用 </a>
          <a href="javascript:;" class="color-orange" (click)="showInfo(row)">查看</a>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

  </div>
</div>

<div class="info-box" *ngIf="showUserInfo">
  <div class="info-content">
    <div class="mage-title">
      <h3>用户信息</h3>
      <b class="color-blue font18 fork" (click)="closeUser()">X</b>
    </div>
    <div class="user-content">
      <span class="edit-btn fr" (click)="editInfo()"> <img src="./assets/images/edit.png">&nbsp;&nbsp;修改</span>
        <ul class="user-info-list">
          <li><span class="user-tag">用户账号</span> <input type="text" [(ngModel)]="userInfo.userCount"  [disabled]="showEdit"></li>
          <li><span class="user-tag">用户名</span> <input type="text" [(ngModel)]="userInfo.userName" [disabled]="showEdit"></li>
          <li><span class="user-tag">用户类型</span> <input type="text" [(ngModel)]="userInfo.userType" [disabled]="showEdit"></li>
          <li><span class="user-tag">用户状态</span> <input type="text" [(ngModel)]="userInfo.userState" [disabled]="showEdit"></li>
          <li><span class="user-tag">联系方式</span> <input type="text" [(ngModel)]="userInfo.userPhone" [disabled]="showEdit"></li>
        </ul>

        <button class="ysl-btn save-btn">保存</button>
      </div>
  </div>
</div>
<div class="new-user" *ngIf="newUser">
  <div class="new-user-box">
    <div class="mage-title">
      <h3>增加用户</h3>
      <b class="color-blue font18 fork" (click)="closeUser()">X</b>
    </div>

    <div class="base-info">
      <h3 class="color-blue">基本信息</h3>
      <ul class="base-info-list">
        <li><span>账号</span> <input type="text" class="box-type"></li>
        <li><span>密码</span> <input type="password" class="box-type"></li>
        <li><span>姓名</span> <input type="text" class="box-type"></li>
        <li><span>邮箱</span> <input type="email" class="box-type"></li>
      </ul>
    </div>
    <div class="gov-info">
      <h3 class="color-blue">机构信息</h3>
      <ul class="gov-info-list">
        <li><span>机构名称</span> <input type="text" class="box-type"></li>
        <li><span>logo图片</span> <div class="file-box font12 color-gray"><a href="javascript:;" class="file">选择文件<input type="file"></a>支持jpg，png格式，大小不超过1m</div></li>
        <li><span>公司网址</span> <input type="text" class="box-type"></li>
        <li><span>联系人</span> <input type="text" class="box-type"></li>
        <li><span>联系电话</span> <input type="tel" class="box-type"></li>
        <li><span>电子邮件</span> <input type="email" class="box-type"></li>
        <li><span>公司地址</span> <input type="text" class="box-type"></li>
      </ul>
      <button class="ysl-btn btn-submit">提交</button>
    </div>
  </div>
</div>

