<div class="new-user">
  <div class="new-user-box">
    <div class="base-info">
      <h3 class="color-blue">基本信息</h3>
      <ul class="base-info-list">
        <li><span>账号</span> <input type="text" class="box-type"></li>
        <li><span>密码</span> <input type="password" class="box-type"></li>
        <li><span>姓名</span> <input type="text" class="box-type"></li>
        <li><span>邮箱</span> <input type="email" class="box-type"></li>
      </ul>
    </div>
    <div class="gov-info">
      <h3 class="color-blue">机构信息</h3>
      <ul class="gov-info-list">
        <li><span>机构名称</span> <input type="text" class="box-type"></li>
        <li><span>logo图片</span> <div class="file-box font12 color-gray"><a href="javascript:;" class="file">选择文件<input type="file"></a>支持jpg，png格式，大小不超过1m</div></li>
        <li><span>公司网址</span> <input type="text" class="box-type"></li>
        <li><span>联系人</span> <input type="text" class="box-type"></li>
        <li><span>联系电话</span> <input type="tel" class="box-type"></li>
        <li><span>电子邮件</span> <input type="email" class="box-type"></li>
        <li><span>公司地址</span> <input type="text" class="box-type"></li>
      </ul>
      <button class="ysl-btn btn-submit">提交</button>
    </div>
  </div>
</div>
