.data-list-area{
  margin-top: 18px;
  display: flex;
}
.search-condition-type{
  width: 150px;
  padding-bottom: 10px;
  position: relative;
  margin-top: 10px;
}
.search-condition-type ul{
  margin-bottom: 0;
}
.search-condition-title{
  text-align: center;
  color: #999;
}
.search-condition-title .fa{
  margin-right: 5px;
}
.search-condition-type:after{
  content: "";
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: #d8e5e7;
  position: absolute;
  right: 0;
  bottom: 0;
}
.search-condition-type:last-of-type:after{
  display: none;
}
.search-condition-type-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
.sort-by-tag .search-condition-type-item{
  margin-top: 8px;
}
.search-condition-type-item:first-of-type{
  margin-top: 0;
}
.readonly{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.search-condition-sub{
  width: 100%;
}
 .search-condition-parent{
   color: #999;
   margin-bottom: 10px;
 }
 .readonly span{
   display: block;
   width: 109px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }
 .cancel-filter{
   color: #b5b5b5;
   position: absolute;
   right: 5px;
   top: 50%;
   transform: translateY(-50%);
 }
.search-condition-type-item .active{
  background-color: #f6f9fa;
}
.search-condition-type-item .active span{
  background-color: yellow;
}
.search-condition-type-item .readonly:hover{
  background-color: #f6f9fa;
}
.search-condition-type-item .ysl-input-group{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search-condition-type-item .ysl-input-group input{
  font-size: 12px;
}
.search-condition-type-item .ysl-input-group input::-moz-placeholder{
  color: #999;
}
.search-condition-type-item .ysl-input-group input:-ms-input-placeholder{
  color: #999;
}
.search-condition-type-item .ysl-input-group input::-webkit-input-placeholder{
  color: #999;
}
.search-condition-type-item input:not([type=checkbox]){
  height: 20px;
  line-height: 20px;
  width: 40px;
  padding: 0 3px;
  border: 1px solid #d8e5e7;
}
.search-condition-type-item .btn{
  height: 20px;
  width: 40px;
  background-color: #fff;
  border: 1px solid #39baf6;
  color: #39baf6;
  padding: 0;
  border-radius: 0;
}
.find-result{
  margin-bottom: 0;
  color: #666;
  font-size: 12px;
}
.find-result .filter{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.find-result .fa-filter{
  font-size: 14px;
}
.find-result .sort-by-date{
  position: relative;
  width: 110px;
  height: 24px;
  cursor: pointer;
}
.find-result .sort-by-date:hover .sort-list{
  display: block;
}
.find-result .fa{
  margin-right: 8px;
}
.find-result .sort-list{
  display: none;
  width: 100%;
  position: absolute;
  border: 1px solid #dfdede;
  padding: 5px 0;
  background-color: #fff;
  top: 22px;
}
.find-result .sort-list li {
  height: 24px;
  line-height: 24px;
  padding-left: 19px;
}
.find-result .sort-list .active{
  color: #999;
}
.data-list{
  flex: 1;
  padding-left: 30px;
  padding-bottom: 30px;
}
.data-item{
  padding-bottom: 20px;
  border-bottom: 1px solid #efefef;
  /*border-bottom: 1px solid #d8e5e7;*/
}
.data-item h3{
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 16px;
}
.data-item h3:hover{
  text-decoration: underline;
}
.data-content{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  line-height: 24px;
  font-size: 13px;
  margin: 5px 0;
}
.tag-arrow{
  position: absolute;
  top: 17px;
  right: 10px;
}
.product-item-tags{
  height: 23px;
  overflow: hidden;
  cursor: default;
  position: relative;
}
.product-item-tags.open{
  height: auto;
}
.product-item-tags .fa-angle{
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 16px;
  cursor: pointer;
}
.product-item-tag{
  display: inline-block;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  color: #288dec;
  width: 6em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}
.product-item-tag .fa{
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  .data-list{
    padding-left: 0;
  }
}
