<div class="dataShow container">
  <!--列表页-->
  <div class="search-condition-xs visible-xs-block"><span class="fa fa-filter ysl-text-dark-blue"></span></div>
  <div class="data-list-area clearfix">
    <!--搜索菜单-->
    <div class="search-condition hidden-xs">
      <ul class="search-condition-type" *ngFor="let type of searchCondition; let ind = index">
        <li class="search-condition-type-item" *ngFor="let item of type.children; let i = index">
          <p class="readonly" [class.active]="searchConditionIndex == i && searchConditionParentIndex == ind" *ngIf="item.type=='readonly'" (click)="conditionSearch(i, ind)">{{item.text}}</p>
          <div class="ysl-input-group" *ngIf="item.type=='input'">
            <input type="text">-<input type="text"><button class="btn">确认</button>
          </div>
          <div class="ysl-checkbox-group" *ngIf="item.type=='checkbox'">
            <label><input type="checkbox"><span></span>{{item.text}}</label>
          </div>
        </li>
      </ul>
    </div>
    <div class="data-list">
      <p class="find-result">找到{{product.totalLength}}条结果</p>
      <ul>
        <li *ngFor="let item of product.items | paginate: {itemsPerPage: limit,
                                                      currentPage: currPage,
                                                      totalItems: product.totalLength}"  class="data-item">
          <h3 style="cursor: pointer" (click)="toProductDetail(item)">{{item.name}}</h3>
          <span class="data-content">{{item.description}}</span>
          <ul class="product-item-tags">
            <li class="product-item-tag" *ngFor="let t of item.tags"><i class="fa fa-tag"></i>{{t.name}}</li>
          </ul>
        </li>
      </ul>
      <pagination-controls (pageChange)="toNextPage($event);"
                           autoHide="true"
                           previousLabel="上一页"
                           nextLabel="下一页"></pagination-controls>
    </div>
  </div>
</div>
