<div class="dataShow">
  <!--搜索框-->
  <search-input></search-input>
  <!--列表页-->
  <div class="datalistArea clearfix">
    <!--搜索菜单-->
    <div class="searchMenu">
      <ul class="menuList">
        <li *ngFor="let item of typeList;let i = index" (click)="showMenu(i)">{{item.text}}
          <ul class="menuListTwo" *ngIf="num == i">
            <li *ngFor="let itemChild of item.children">{{itemChild.text}}</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="dataList">
      <p>约找到{{count}}条数据</p>
      <ul>
        <li *ngFor="let item of dataList | paginate:{itemsPerPage:10,currentPage:p}"  class="dataItem">
          <h3 routerLink="/datadetail" style="cursor: pointer">{{item.title}}</h3>
          <span class="dataContent">{{item.content}}</span>
        </li>
      </ul>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
