<div class="user-center">
  <div class="user-center-bg"></div>
  <div class="user-center-info container">
    <span class="profile-picture">
      <img [src]="profileSrc" alt="">
      <input type="file" ng2FileSelect [uploader]="uploader" accept=".jpg, .jpeg, .png" (change)="selectedFileOnChanged($event)">
    </span>
    <div class="user-des">
      <p class="user-name font24 text-center">{{userInfo?.userName}}</p>
      <div class="des">
        <p class="font16 text-color-middle un-editable" *ngIf="!isEditable">{{userInfo?.selfIntroduction}}<i class="fa fa-edit color-blue" (click)="editDes()"></i></p>
        <form class="editable" [formGroup]="userDesForm" *ngIf="isEditable" novalidate>
          <textarea type="text" formControlName="selfIntroduction" maxlength="100"></textarea>
          <button class="ysl-btn ysl-btn-xs" (click)="updateUserDes()">发布签名</button>
        </form>
      </div>
    </div>
  </div>
  <div class="user-nav container outer-nav"><ysl-sidebar [ysl-sides]="userTag"></ysl-sidebar></div>
  <div class="user-cont container">
    <router-outlet></router-outlet>
  </div>
  <!--<div class="center-left">-->
    <!--<img src="./assets/images/userpic.png"><br>-->
    <!--<span>{{user.count}}</span>-->
    <!--<ysl-sidebar [ysl-sides]="userTag"></ysl-sidebar>-->
  <!--</div>-->
  <!--<div class="center-right">-->
    <!--<router-outlet></router-outlet>-->
  <!--</div>-->
</div>
