<div class="user-center">
  <div class="center-left">
    <img src="../../assets/images/userpic.png"><br>
    <span>{{user.count }}</span>
    <ul class="user-menu">
      <li *ngFor="let item of userTag;let i = index" (click)="tab(i)" class="menu-item" [class.active]="index == i">
        {{item.text}} <img class="user-arrow" [src]="index==i ? './assets/images/arrow.png' : './assets/images/arrow2.png'">
      </li>
    </ul>
  </div>
  <div class="center-right">
    <div class="personal" *ngIf="index==0">
      <div class="login-history">
        <span>上次登录时间：{{user.logintime}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>地点：{{user.address}}</span>
      </div>
      <div class="user-edit">
        <div class="user-title"><span>个人信息</span> <span class="edit-btn" (click)="ableEdit()"><img src="../../assets/images/edit.png">&nbsp;&nbsp;编辑</span></div>
        <div class="user-info">
          <ul class="user-info-list">
            <li><span class="user-tag">账号</span> <input type="text" [(ngModel)]="user.count" [disabled]="showEdit"></li>
            <li><span class="user-tag">用户名</span> <input type="text" [(ngModel)]="user.username" [disabled]="showEdit"></li>
            <li><span class="user-tag">姓名</span> <input type="text" [(ngModel)]="user.truename" [disabled]="showEdit"></li>
            <li><span class="user-tag">性别</span> <input type="text" [(ngModel)]="user.sex" [disabled]="showEdit"></li>
            <li><span class="user-tag">生日</span> <input type="text" [(ngModel)]="user.birthday" [disabled]="showEdit"></li>
            <li><span class="user-tag">所在地</span> <input type="text" [(ngModel)]="user.address" [disabled]="showEdit"></li>
            <li><span class="user-tag">联系方式</span> <input type="text" [(ngModel)]="user.phone" [disabled]="showEdit"></li>
            <li><span class="user-tag">职业</span> <input type="text" [(ngModel)]="user.job" [disabled]="showEdit"></li>
          </ul>

          <button class="btn save-btn" [hidden]="showEdit">保存</button>
        </div>
      </div>
    </div>

    <div class="identify" *ngIf="index==1">
      <div class="iden-type">
        <ul class="clearfix">
          <li *ngFor="let item of idenType;let i=index" [class.select-type]="indexType == i" (click)="tabType(i)">{{item.type}}</li>
        </ul>
      </div>
      <div class="iden-content" *ngIf="indexType==0">
        <ul class="type-ul">
          <li><span>姓名</span> <input class="iden-input" type="text" placeholder="请输入真实姓名" [(ngModel)]="iden.name"></li>
          <li><span>手机号</span> <input class="iden-input" type="tel" placeholder="请输入您的手机号" [(ngModel)]="iden.tel"></li>
          <li><span>验证码</span><input class="iden-input" type="text" placeholder="请输入验证码" style="width: 156px">
            <button class="btn iden-code" [disabled]="!iden.tel" (click)="sendCode()">{{content}}</button>
          </li>
        </ul>
        <button class="btn btn-ensure">确认</button>
      </div>
      <div class="gov-content" *ngIf="indexType==1">
        <ul class="type-ul" style="width: 410px">
          <li><span>机构名称</span> <input class="iden-input" type="text" placeholder="请输入机构名称"></li>
          <li><span>姓名</span> <input class="iden-input" type="tel" placeholder="请输入您的真实姓名"></li>
          <li><span>手机号</span><input class="iden-input" type="text" placeholder="请输入您的手机号"></li>
          <li><span>公司官网URL</span> <input class="iden-input" type="tel" placeholder="请输入公司官网URL"></li>
        </ul>
        <button class="btn btn-ensure">确认</button>
      </div>
    </div>

    <div class="modify-psd" *ngIf="index==2">
      修改密码
    </div>
  </div>
</div>
