<div class="user-center container">
  <div class="center-left">
    <img src="./assets/images/userpic.png"><br>
    <span>{{user.count}}</span>
    <ul class="user-menu">
      <li *ngFor="let item of userTag;let i = index" (click)="tab(i)" [routerLink]="[item.path]" class="menu-item" [class.active]="index == i">
        {{item.text}} <img class="user-arrow" [src]="index==i ? './assets/images/arrow.png' : './assets/images/arrow2.png'">
      </li>
    </ul>
  </div>
  <div class="center-right">
    <router-outlet></router-outlet>
  </div>
</div>
