.user-center{
  background-color: #f7f7f7;
  padding-bottom: 60px;
}

@media all and (min-width: 300px){
  .user-center-bg {
    height: 120px;
    background: url(../../assets/images/userCenterBackgroundPic.png) no-repeat left top/cover;
  }

  .profile-picture {
    display: inline-block;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background-color: #fff;
    border: 3px solid #fff;
    margin: 0 auto 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }

}

@media all and (min-width: 768px){
  .user-center-bg{
    height: 200px;
    background: url(../../assets/images/userCenterBackgroundPic.png) no-repeat top/cover;
  }

  .profile-picture {
    display: inline-block;
    height: 138px;
    width: 138px;
    border-radius: 100%;
    background-color: #fff;
    border: 3px solid #fff;
    margin: 0 auto 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
}

.user-nav{
  margin-bottom: 40px;
}
.user-des .fa-edit{
  cursor: pointer;
}
.user-center-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -69px auto 40px;
}
/*.user-center-info .profile-picture{*/
  /*display: inline-block;*/
  /*height: 138px;*/
  /*width: 138px;*/
  /*border-radius: 100%;*/
  /*background-color: #fff;*/
  /*border: 3px solid #fff;*/
  /*margin: 0 auto 20px;*/
  /*overflow: hidden;*/
  /*position: relative;*/
  /*cursor: pointer;*/
/*}*/
.user-center-info .profile-picture [type=file]{
  width: 106%;
  height: 106%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  cursor: pointer;
}
.user-center-info .profile-picture img{
  width: 105%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.user-center-info .des{
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.user-center-info .un-editable{
  width: 45%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.user-center-info .editable{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-center-info .editable .text-tip{
  width: 100%;
  text-align: right;
  color: #ec7c45;
}
.user-center-info .editable textarea{
  height: 64px;
  width: 300px;
  padding: 0 5px;
}
.user-center-info .editable .ng-invalid{
  border-color: #ec7c45;
}
.user-center-info .editable .ysl-btn-group{
  margin-top: 10px;
}
.user-center-info .fa-edit{
  display: block;
  font-size: 18px;
  margin-left: 5px;
}
