<div class="indexCon">
  <div class="totalNum">
    <span>厂商</span>
    <span>数据库</span>
  </div>
  <h2>经济数据库</h2>
  <div class="search">
    <input type="text" class="search-box">
    <div class="searchbtn" routerLink="/datalist">搜索</div>
  </div>
  <div class="searchCond">
    <ul class="searchType">
      <li class="active"><button class="btn btn-none" (click)="changeTab()" [disabled]="!state">国民经济</button>
        <ul class="secondMenu" [hidden]="state">
          <li>对外贸易</li>
          <li>对外贸易</li>
          <li>对外贸易</li>
          <li>对外贸易</li>
          <li>对外贸易</li>
          <li>对外贸易</li>
          <li>对外贸易</li>
          <li>对外贸易</li>
          <li>对外贸易</li>
          <li>对外贸易</li>
          <li>对外贸易</li>
          <li>对外贸易</li>
          <li>对外贸易</li>

        </ul>
      </li>
      <li><button (click)="changeTab()" class="btn btn-none" [disabled]="state">经济主题</button>
        <ul class="secondMenu" [hidden]="!state">
          <li>经济主题</li>
          <li>经济主题</li>
          <li>经济主题</li>
          <li>经济主题</li>
          <li>经济主题</li>
          <li>经济主题</li>
          <li>经济主题</li>
          <li>经济主题</li>
          <li>经济主题</li>
          <li>经济主题</li>
          <li>经济主题</li>
          <li>经济主题</li>
        </ul></li>
    </ul>
  </div>

</div>
