<div class="indexCon">
  <div class="totalNum">
    <span>厂商</span>
    <span>数据库</span>
  </div>
  <h2>经济数据库</h2>
  <div class="search">
    <input type="text" class="search-box">
    <div class="searchbtn" routerLink="/datalist">搜索</div>
  </div>
  <div class="searchCond">
    <ul class="searchType">
      <li *ngFor="let item of types;let i=index"><button class="btn btn-none" [ngClass]="{'isActive':isActive == i}" (click)="changeTab(i)">{{item.text}}</button>
        <ul class="secondMenu" *ngIf="isActive == i">
          <li *ngFor="let item of item.children">{{item.text}}</li>
        </ul></li>
    </ul>
  </div>

</div>
