/*详情页*/
.container{
  padding-top: 30px;
}
.detail-left{
  padding-bottom: 50px;
}
.detail-right{
  padding-left: 20px;
}
.errata-btn{
  width: 60px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  background: #ffeddf;
  text-align: center;
  color: #ffa54e;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
}
.errata-write{
  width: 450px;
  height: 135px;
  background: url("../../../../assets/images/errorbox.png") no-repeat;
  -webkit-background-size:100% 100%;
  background-size:100% 100%;
  padding: 20px;
  position: absolute;
  z-index: 1000;
}
.no-border{
  border:none;
  outline: none;
  width: 100%;
}
.error-area{
  min-height: 70px;
  font-family: '微软雅黑';
  font-size: 12px;
  line-height: 24px;
}
.error-submit{
  width: 50px;
  line-height: 20px;
  background: #39baf6;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 20px;
  right:20px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  cursor: pointer;
}
.write-comment h5{
  font-size: 16px;
  margin-bottom: 20px;
}
.product-name{
  margin: 0;
  font-size: 24px;
}
.data-info{
  width: 100%;
  padding: 30px 15px 0 15px;
}
.firmlogo{
  float: left;
  width: 4.361rem;
  height: 3.194rem;
}
.firmlogo img{
  width: 100%;
}
.firm-detail{
  width: 100%;
  padding-left: 170px;
}
.firm-detail>li{
  float: left;
  width: 50%;
  line-height: 36px;
  border-bottom: 1px dashed #d6d5d5;
  font-size: 14px;
  color: #333333;
}
.tag-box{
  width: 100% !important;
}
.product-tag{
  display: inline-block;
}
.product-tag li{
  display: inline-block;
}
.tag-dividing-line{
  margin: 0 10px;
  color: #b5b5b5;
}
.product-introduce{
  margin-top: 40px;
  color: #666;
  background: url("../../../../assets/images/linebottom.png") no-repeat bottom center;
  background-size: 100%;
  padding-bottom: 40px;
  margin-bottom: 45px;
}
.product-introduce p{
  text-indent: 2em;
  margin-bottom: 44px;
}
.score{
  line-height: 48px;
  background: #f9fbfb;
  margin: 0;
  /*display: flex;*/
  /*align-items: center;*/
  /*margin-bottom: 10px;*/
}
.scores-item{
  float: right;
  display: flex;
  align-items: center;
}
.scores-item i{
  font-weight: bold;
}
.start-score{
  display: inline-block;
  margin: 0 10px;
}
.start-score li{
  float: left;
  margin-right: 3px;
  width: 22px;
  height: 22px;
  background: url("../../../../assets/images/score-stars.png") no-repeat left -44px/100%;
  cursor: pointer;
}
.start-score li:last-of-type{
  margin-right: 0;
}
.start-score .active{
  background-position: left top;
}
.push{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  margin-top: 10px;
}
.push .ysl-checkbox-group label{
  margin: 0;
}
.push .ysl-checkbox-group span{
  border-color: #ddd !important;
}
.push-btn{
  width: 70px;
  line-height: 30px;
  text-align: center;
  background: #39baf6;
  color: #fff;
  font-size: 14px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  cursor: pointer;
  margin-left: 10px;
}
.total-comment{
  padding-top: 20px;
  border-top: 1px solid #ddd;
  margin-top: 30px;
}
.total-comment .font18{
  color: #5a717f;
}
.user-comment{
  margin-top: 40px;
}
.user-info{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.user-info .line{
  color: #8196a0;
  font-style: normal;
}
.user-info .font12{
  color: #a7bec9;
}
.user-level{
  display: inline-block;
  width: 40px;
  line-height: 15px;
  color: #39baf6;
  border:1px solid #39baf6;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  font-family: '微软雅黑';
  font-weight:bold;
  margin-left: 5px;
  margin-right: 18px;
}
.my-comments{
  font-size: 12px;
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
}
.my-asses{
  display: inline-block;
  width: 130px;
  line-height: 26px;
  border:1px solid #d8e5e7;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  vertical-align: middle;
  padding:0 10px;
}
.asses-zan{
  display: inline-block;
  width: 50%;
  border-right: 1px solid #d8e5e7;
  cursor: pointer;
}
.asses-nozan{
  display: inline-block;
  padding-left: 5px;
  cursor: pointer;
}
.my-asses img{
  margin-right: 10px;
  vertical-align: middle;
}
.second-comment{
  margin-top: 34px;
  width: 100%;
  background: #f9fbfb;
  padding: 20px;
}
.comment-area{
  width: 100%;
  height:100px;
  border:1px solid #d8e5e7;
  padding: 10px;
  outline:none;
  color: #333;
  font-size: 14px;
  font-family: '微软雅黑';
}
textarea::-moz-placeholder{
  color: #ddd;
}
textarea::-webkit-input-placeholder{
  color: #ddd;
}
textarea:-ms-input-placeholder{
  color: #ddd;
}
.second-comment-list{
  margin-top: 20px;
}
.second-comment-list li{
  width: 100%;
  line-height: 34px;
  border-top: 1px solid #d8e5e7;
  color: #666;
}
.stars-list{
  margin: 0;
}
.stars-list li{
  width: 19px;
  height: 19px;
  background-size: 100%;
  float: left;
  margin-right: 5px;
}
.stars-list span{
  display: inline-block;
  height: 100%;
  width: 100%;
  background: url("../../../../assets/images/score-stars.png") no-repeat left bottom;
}
.stars-list .all-star{
  background: url("../../../../assets/images/score-stars.png") no-repeat left top;
}
.stars-list .half-star{
  background: url("../../../../assets/images/score-stars.png") no-repeat left -19px;
}
.star-score{
  width: 100%;
  display: flex;
  border-bottom: 1px solid #d8e5e7;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
.current-info{
  margin-top: 30px;
  color: #666;
  padding-bottom: 16px;
  border-bottom: 1px solid #d8e5e7;
}
.current-info ul{
  margin-bottom: 0;
}
.current-info>p{
  color: #333;
}
.current-info li{
  font-size: 12px;
  line-height: 24px;
}
.relative-pro{
  margin-top: 30px;
  color: #666;
}
.relative-pro-list{
  margin-top: 10px;
}
.relative-pro-list li{
  background: url("../../../../assets/images/li1.png") no-repeat left top;
  padding-left:34px;
  color: #666;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom:15px ;
}
.relative-pro-list p{
  font-size: 14px;
}
.relative-pro-list span{
  line-height: 20px;
}
textarea:-moz-placeholder{
  color: #999;
}
textarea:-ms-input-placeholder{
  color: #999;
}
textarea::-webkit-input-placeholder{
  color: #999;
}

.comment-content h4{
  font-size: 14px;
  color: #59717f !important;
}

@media screen and (max-width: 992px) {
  .detail-right,.detail-left{
    float: none;
    padding: 0 0 50px 0;
  }
}
@media screen and (max-width: 768px) {
  .firmlogo{
    display: block;
    float: none;
  }
  .firm-detail{
    width: 100%;
    padding: 0 15px;
  }
  .firm-detail li{
    width: 100%;
  }
}
