<div class="data-detail container">
  <div class="detail-left col-lg-9 col-xs-12">
    <div class="clearfix">
      <h2 class="product-name">{{productDetail.name}}</h2>
      <div class="data-info clear row">
        <span class="firmlogo"><img src="./assets/images/detail1.png"></span>
        <ul class="firm-detail">
          <li>数据供应商：{{productDetail.orgName}}</li>
          <li>官方网址：<a [href]="productDetail.orgWebSite">{{productDetail.orgWebSite}}</a></li>
          <li>是否收费：<i class="green">{{productDetail.premium}}</i></li>
          <li>数据样本：<i class="green">下载</i></li>
          <li class="tag-box">标签：<ul class="product-tag"><li *ngFor="let item of productDetail.tags;let last = last"><span class="tag-name color-blue">{{item.name}}</span><span class="tag-dividing-line" *ngIf="!last">|</span></li></ul></li>
        </ul>
      </div>
    </div>

    <div class="product-introduce">
      <h3 class="mb20">产品简介</h3>
      <p>{{productDetail.description}}</p>
    </div>

    <!--纠错处理-->
      <div class="error-correct" (click)="writeProblem()">纠错</div>
      <div class="problem" *ngIf="showProblem">
        <textarea autofocus="autofocus" placeholder="请填写问题描述" class="no-border error-area"></textarea>
        <button class="ysl-btn error-submit">提交</button>
      </div>

    <div class="write-comment">
      <h3><img src="./assets/images/write.png">&nbsp;&nbsp;评论</h3>
      <div class="score clearfix row">
        <span class="col-md-3 col-xs-12">请点击星级进行评分</span>
        <div class="score-type col-md-9 col-xs-12">
          <div class="scores-item col-sm-6 col-xs-12" *ngFor="let t of score; let parentInd = index">
            <span>{{t.title}}</span>
            <ul class="start-score">
              <li *ngFor="let s of t.stars; let i = index" [class.active]="i <= t.curr" (click)="productScore(parentInd, i)"></li>
            </ul>
            <i class="color-orange">({{t.score}}分)</i>
          </div>
        </div>
      </div>
      <div class="comment-content">
        <h4 class="color-gray">评论内容</h4>
        <ng2-ueditor [(ngModel)]="full_source" [setting]="setting"></ng2-ueditor>
        <div class="push">
          <button class="ysl-btn push-btn">发布</button>
        </div>
      </div>
    </div>


    <!--评论区域-->
    <div class="total-comment">
      <p class="color-gray font18">3个评论</p>
      <ul class="user-comment-list">
        <li>
          <div class="user-comment">
            <p class="font18">在金融财经数据领域，Wind资讯已建成国内最完整、最准确的以金融证券数据为核心一流的大型金融工程和财经数据仓库</p>
            <div class="user-info">
              <div>
                <span class="font12 color-blue">用户名</span> <span class="user-level">LV5</span>
                <span class="font12 color-blue">|&nbsp;&nbsp;&nbsp;&nbsp;发布于4分钟前</span>
              </div>
              <div>
                <img src="./assets/images/comment.png">
                <span class="my-comments" (click)="showComment()">评论(2)</span>
                <div class="my-asses">
                  <span class="green asses-zan"><img (click)="zan()" src="./assets/images/zan.png"> {{zanNum}} </span>
                  <span class="asses-nozan"><img src="./assets/images/nozan.png"> {{nozanNum}} </span>
                </div>
              </div>
            </div>
            <!--用户的二级评论-->
            <div class="second-comment" [hidden]="isHidden">
              <textarea name="second-comment" class="comment-area" placeholder="请输入内容..."></textarea>
              <button class="ysl-btn push-btn">发布</button>
              <ul class="second-comment-list">
                <li>
                  <div>
                    <span class="font12 color-blue">用户名1</span> <span class="user-level">LV5</span>
                    <span class="font12 color-blue">|&nbsp;&nbsp;&nbsp;&nbsp;2017.03.24 13:00</span>
                    <a href="javascript:;" class="color-blue">回复</a>
                  </div>
                  <p class="font14">在金融财经数据领域，Wind资讯已建成国内最完整、最准确的以金融证券数据为核心一流的大型金融工程和财经数据仓库</p>

                </li>
                <li>
                  <div>
                    <span class="font12 color-blue">用户名2</span> <span class="user-level">LV5</span>
                    <span class="font12 color-blue">|&nbsp;&nbsp;&nbsp;&nbsp;2017.03.24 13:00</span>
                    <a href="javascript:;" class="color-blue">回复</a>
                  </div>
                  <p class="font14">回复 用户名1 ： Wind资讯已建成国内最完整的大型金融工程和财经数据仓库</p>

                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="user-comment">
            <p class="font18">在金融财经数据领域，Wind资讯已建成国内最完整、最准确的以金融证券数据为核心一流的大型金融工程和财经数据仓库</p>
            <div class="user-info">
              <div>
                <span class="font12 color-blue">用户名</span> <span class="user-level">LV5</span>
                <span class="font12 color-blue">|&nbsp;&nbsp;&nbsp;&nbsp;发布于4分钟前</span>
              </div>
              <div>
                <img src="./assets/images/comment.png">
                <span class="my-comments" (click)="showComment()">评论(2)</span>
                <div class="my-asses">
                  <span class="green asses-zan"><img src="./assets/images/zan.png"> 0 </span>
                  <span class="asses-nozan"><img src="./assets/images/nozan.png"> 0 </span>
                </div>
              </div>
            </div>
            <!--用户的二级评论-->
            <div class="second-comment" [hidden]="isHidden">
              <textarea name="second-comment" class="comment-area" placeholder="请输入内容..."></textarea>
              <button class="ysl-btn push-btn">发布</button>
            </div>
          </div>
        </li>
        <li>
          <div class="user-comment">
            <p class="font18">在金融财经数据领域，Wind资讯已建成国内最完整、最准确的以金融证券数据为核心一流的大型金融工程和财经数据仓库</p>
            <div class="user-info">
              <div>
                <span class="font12 color-blue">用户名</span> <span class="user-level">LV5</span>
                <span class="font12 color-blue">|&nbsp;&nbsp;&nbsp;&nbsp;发布于4分钟前</span>
              </div>
              <div>
                <img src="./assets/images/comment.png">
                <span class="my-comments" (click)="showComment()">评论(2)</span>
                <div class="my-asses">
                  <span class="green asses-zan"><img src="./assets/images/zan.png"> 0 </span>
                  <span class="asses-nozan"><img src="./assets/images/nozan.png"> 0 </span>
                </div>
              </div>
            </div>
            <!--用户的二级评论-->
            <div class="second-comment" [hidden]="isHidden">
              <textarea name="second-comment" class="comment-area" placeholder="请输入内容..."></textarea>
              <button class="ysl-btn push-btn">发布</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="detail-right col-lg-3 col-xs-12">
    <p>评分</p>
    <div class="star-score">
      <ul class="stars-list clearfix">
        <li *ngFor="let s of averageScore; let i = index;"><span [class.all-star]="((i+1) < productDetail.averageScore) || ((i+1) == productDetail.averageScore)" [class.half-star]="(i+1)>productDetail.averageScore && i < productDetail.averageScore"></span></li>
      </ul>
      <i class="color-orange">({{productDetail.averageScore}}分)</i>
    </div>

    <div class="current-info font14">
      <p>词条信息</p>
      <ul class="mt10">
        <li><span>创建者：</span> <span class="color-blue">网名</span></li>
        <li><span>编辑次数：</span> <span class="color-blue">20次</span></li>
        <li><span>词条浏览：</span> <span class="color-blue">12343次</span></li>
        <li><span>最近更新：</span> <span class="color-blue">2017.03.04</span></li>
      </ul>
    </div>

    <div class="relative-pro">
      <p>相关产品</p>
      <ul class="relative-pro-list font12">

        <li><p class="color-blue">中国宏观数据</p>核心数据在发在发布五分钟内显示核心数据在发布五分钟内显示核心数据在发布五分钟内显示核心数据在发布五分钟内显示核心数据在发布五分钟内显示</li>
        <li><p class="color-blue">中国宏观数据</p>核心数据在发布五布五分钟内显示核心数据在发布五分钟内显示</li>
        <li><p class="color-blue">中国宏观数据</p>内显示核心数据在发布五分钟内示</li>
        <li><p class="color-blue">中国宏观数据</p>核心数据在发布五分钟内据在发布五分钟内显示核心数据在发布五分钟内显示</li>
        <li><p class="color-blue">中国宏观数据</p>核心数据在发布五分钟内显示核核心数据在发布五分钟内显示</li>
      </ul>
    </div>
  </div>
</div>
