<div class="proimport-box">
  <div class="import-form">
    <div class="import-title"><h4>产品录入</h4> <span class="fork" (click)="close()">X</span></div>
    <div class="content-form">
      <form #dataForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="dataName">名称</label>
          <input type="text" class="ysl-form-control" id="dataName" required name="dataName"
                 [(ngModel)]="data.name" #name="ngModel">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger color-red">名称不能为空</div>
        </div>
        <div class="form-group">
          <label for="summary">简介</label>
          <textarea id="summary" class="ysl-form-control" required name="proSummary"
                 [(ngModel)]="data.summary" #summary></textarea>
        </div>
        <div class="form-group">
          <label for="url">产品官网</label>
          <input type="text" id="url" class="ysl-form-control" required name="url"
                 [(ngModel)]="data.url" #url>
        </div>
        <div class="form-group">
          <label for="from" >数据来源</label>
          <select name="dataFrom" id="from" class="ysl-form-control" required
            [(ngModel)]="data.from" #from></select>

          <label for="type">数据类型</label>
          <select name="dataFrom" id="type" class="ysl-form-control" required
                  [(ngModel)]="data.type" #type></select>
        </div>

        <div class="form-group">
          <label>数据样本</label>
          <input type="file">
          <!--<a href="javascript:;" class="file" id="sample">上传</a>-->
        </div>

        <div class="form-group">

          <label for="collect">采集方式</label>
          <select name="collect" id="collect" class="ysl-form-control" required
                  [(ngModel)]="data.collect" #collect></select>

          <label for="service">服务方式</label>
          <select name="service" id="service" class="ysl-form-control" required
                  [(ngModel)]="data.service" #service></select>
        </div>

        <div class="form-group">
          <label>是否收费</label>
          <input type="radio" name="isMoney"> 是
          <input type="radio" name="isMoney"> 否
        </div>

        <div class="form-group">
          <label for="area">区域范围</label>
          <select name="area" id="area" class="ysl-form-control" required
           [(ngModel)]="data.area" #area></select>

          <label>时间范围</label>
          <ngx-datepicker class="calendar" name="timeFrom" [(ngModel)]="timeFrom"></ngx-datepicker> -
          <ngx-datepicker class="calendar" name="timeTo" [(ngModel)]="timeTo"></ngx-datepicker>
        </div>

        <div class="form-group">
          <label>标签分类</label>
          <div>
            <ul class="tagDimensions">
              <li *ngFor="let item of tagDimensions;let i=index"><button class="ysl-btn btn-none" [class.isActive]="isActive === i" (click)="changeTab(i)">{{item.name}}</button>
                <ul class="secondTagDimensions" *ngIf="isActive == i">
                  <li *ngFor="let itemc of item.items"  class="second-nav"><input type="checkbox">{{itemc.name}}</li>
                </ul>
              </li>
            </ul>
            <!--<ul>-->
              <!--<li *ngFor="let item of tagDimensions">-->
                <!--<ul>-->
                  <!--<li *ngFor="let itemc of item.items" *ngIf="isActive == i">{{itemc.name}}</li>-->
                <!--</ul>-->
              <!--</li>-->
            <!--</ul>-->
          </div>
        </div>

        <button type="submit" class="ysl-btn btn-submit">提交</button>
      </form>
    </div>
  </div>
</div>
