.import-form{
  width: 960px;
  margin:0 auto;
  background: #fff;
  margin-top: 80px;
  padding:10px 30px;
}
.import-title{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.content-form{
  margin-top: 20px;
  width: 100%;
}
.content-form label{
  width: 60px;
  display: inline-block;
  font-size: 14px;
  text-align: right;
  margin-right: 20px;
}
.form-group{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.ysl-form-control {
  border: 1px solid #ddd;
  padding: 10px;
  outline: none;
  margin-right: 20px;
}
textarea{
  width: 600px;
  height: 80px;
  vertical-align: middle;
}
select{
  width: 120px;
}
.proimport-box{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.13);
  top:0;
  left: 0;
}
.ysl-import-tag{
  height: 200px;
  overflow-y: scroll;
}
.tagDimensions{
  display: inline-block;
  width: 600px;
  text-align: left;
  list-style-type: none;
  position: relative;
  min-height: 134px;
  margin-top: 20px;
}
.tagDimensions li{
  float: left;
  cursor: pointer;
  background: #fff;
}
.secondTagDimensions{
  width: 500px;
  position: absolute;
  list-style: none;
  margin-top: 20px;
  color: #676767;
  left:0;
  top:8px;
  border:1px solid #d8e5e7;
}
.second-nav{
  padding:5px 10px;
  margin:5px 10px;
  background: #f6f9fa;
}
.isActive{
  color: #1c94c4;
  border:1px solid #d8e5e7;
  border-bottom: none;
  padding:5px 10px;
}
