/* You can add global styles to this file, and also import other style files */
html{
  padding:0;
  height: 100%;
}
body{
  height:100%;
  min-width: 1200px;
  position: relative;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.mb20{
  margin-bottom: 20px;
}
.mt20{
  margin-top: 20px;
}
.mt10{
  margin-top: 10px;
}
.font24{
  font-size: 24px;
}
.font18{
  font-size: 18px;
}
.font14{
  font-size: 14px;
}
.font12{
  font-size: 12px;
}
.color-blue{
  color: #39baf6;
}
.color-gray{
  color: #676767;
}
.color-orange{
  color: #ffa54e;
}
.color-red{
  color: red;
}
.green{
  color: #46b069;
}
.text-center{
  text-align: center;
}
select {
  border:1px solid #ddd;
  /*将默认的select选择框样式清楚*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*在选择框最右侧显示小箭头的图片*/
  background: url("assets/images/selectarrow.png") no-repeat right center;
  /*background-position: 100;*/
  padding-right: 20px !important;

}
select::-ms-expand {
  display: none;
}
/*三角形*/
.triangle-down{
  width: 0;
  height: 0;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-top: 16px solid #ddd;

}
/*common style*/
.clearfix{
  zoom: 1;
}
.clearfix:after{
  content: '';
  height:0;
  display: block;
  visibility: hidden;
  clear: both;
}
.btn{
  border:none;
}
.btn:focus{
  outline: none;
  border: none;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.search-box{
  width: 600px;
  margin:0 auto;
  position: relative;
}
.search-input{
  line-height: 38px;
  width: 500px;
  font-size: 18px;
  color:#737373 ;
  border:1px solid #d8e5e7;
  padding-left: 10px;
}
.search-input:focus{
  outline: none;
}
.triggle-position{
  position: absolute;
  top:12px;
  right:115px;
  cursor: pointer;
}
.advanced-box{
  width: 500px;
  height: 280px;
  text-align: center;
  border:1px solid #d8e5e7;
  border-top:none;
  position: absolute;
  top:40px;
  left:0;
  background: #fff;
  z-index: 1000;
  padding:0 70px;
  padding-top:56px;
  font-size: 13px;
  font-family: '微软雅黑';
  color: #2e3e45;
}
.advanced-box ul {
  margin-bottom:10px;
}
.advanced-box ul li{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 40px;
}
.advanced-input{
  width: 222px;
  height: 30px;
  margin-left: 15px;
  border:1px solid #d8e5e7;
  padding-left:10px;
}
.searchbtn{
  display: inline-block;
  line-height: 40px;
  background: #1c94c4;
  width: 100px;
  margin-left: -6px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.my-container{
  padding: 80px 90px;
  padding-bottom: 20px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.login-box{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.13);
  z-index: 1000;
}
.login-form{
  position: absolute;
  top:50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  width: 400px;
  background: #fff;
  padding:10px 20px;
  padding-bottom: 20px;
}
.login-title{
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  /*border-bottom: 1px solid #dbdcdc;*/
}

.fork{
  cursor: pointer;
}
.user-count{
  width: 100%;
  height: 40px;
  background: url("assets/images/user.png") no-repeat left center;
  border:1px solid #ddd;
  margin-top: 30px;
  background-position-x: 10px;
  padding: 0 40px;
}
.user-psd{
  width: 100%;
  height: 40px;
  border:1px solid #ddd;
  margin-top: 30px;
  background: url("assets/images/psd.png") no-repeat left center;
  background-position-x: 10px;
  padding: 0 40px;
}
.login-state{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.forget-psd{
  color: #1c94c4;
  cursor: pointer;
}
.login{
  width: 100%;
  height: 40px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius: 8px;
  color: #fff;
  background: #1c94c4;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}


/*重写部分*/
.ng2-pagination li{
  cursor: pointer !important;
}
.ng2-pagination{
  margin-top: 1rem;
}
.pager li{
  padding: 5px 10px !important;
  background: #f7f7f7;
  border:1px solid #eee;
  margin: 0 10px !important;
}
.ngx-datatable .datatable-header{
  width: 100% !important;
  height: 50px;
  background: #eee;
  display: flex !important;
  align-items: center;
  padding-left: 4px;
}
.ngx-datatable .datatable-body{
  padding-left: 6px;
}
.datatable-header-inner{
  width: 100% !important;
}
.ngx-datatable.fixed-row .datatable-scroll{
  width: 100% !important;
}
