@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';/* You can add global styles to this file, and also import other style files */
html{
  padding:0;
  height: 100%;
}
body{
  height:100%;
  min-width: 1200px;
  width: 100%;
  position: relative;
  font-family: '微软雅黑' !important;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  outline: none;
}
input,textarea,a,ul,li,select{
  font-family: '微软雅黑';
}
*::-moz-placeholder{
  font-family: '微软雅黑';
}
*:-ms-input-placeholder{
  font-family: '微软雅黑';
}
*::-webkit-input-placeholder{
  font-family: '微软雅黑';
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
  font-family: '微软雅黑';
}
p{
  font-family: '微软雅黑';
}
img{
  vertical-align: middle;
}
.mb20{
  margin-bottom: 20px;
}
.mt20{
  margin-top: 20px;
}
.mt10{
  margin-top: 10px;
}
.font24{
  font-size: 24px;
}
.font18{
  font-size: 18px;
}
.font14{
  font-size: 14px;
}
.font12{
  font-size: 12px;
}
.color-blue{
  color: #39baf6;
}
.color-gray{
  color: #676767;
}
.color-orange{
  color: #ffa54e;
}
.color-red{
  color: red;
}
.color-bluelight{
  color: #adc9d5;
}
.green{
  color: #46b069;
}
.bg-lightblue{
  background: #c3e2f0 !important;
}
.text-center{
  text-align: center;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
select {
  font-family: '微软雅黑';
  border:1px solid #ddd;
  /*将默认的select选择框样式清楚*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*在选择框最右侧显示小箭头的图片*/
  background: url("assets/images/selectarrow.png") no-repeat right center;
  /*background-position: 100;*/
  padding-right: 20px !important;

}
select::-ms-expand {
  display: none;
}
textarea{
  resize: none;
}
textarea::-webkit-scrollbar
{
  width: 10px;
  background-color: #fff;
}
textarea::-webkit-scrollbar-track
{
  border:1px solid #f5f5f5;
}
textarea::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  background-color: #f5f5f5;
}
/*三角形*/
.triangle-down{
  width: 0;
  height: 0;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-top: 16px solid #ddd;

}
/*common style*/
.clearfix{
  zoom: 1;
}
.clearfix:after{
  content: '';
  height:0;
  display: block;
  visibility: hidden;
  clear: both;
}
.ysl-btn{
  border:none;
  font-family: '微软雅黑';
}
.ysl-btn:focus{
  border: none;
}

.calendar{
  width: 160px;
  display: inline-block !important;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.search-box{
  margin:0 auto;
  position: relative;
}
.search-input{
  line-height: 38px;
  width: 500px;
  font-size: 18px;
  color:#737373 ;
  border:1px solid #d8e5e7;
  padding-left: 10px;
}
.search-input:focus{
  outline: none;
}
.search-btn{
  width: 82px;
  height: 30px;
  vertical-align: middle;
  background-color: #39baf6;
  margin-left: -7px;
  cursor: pointer;
  background-image: url("assets/images/search.png");
  background-repeat: no-repeat;
  background-position: center;
}
.ysl-search-box{
  display: flex;
  align-items: center;
}
.triggle-position{
  position: absolute;
  top:12px;
  right:115px;
  cursor: pointer;
}
.advanced-box{
  width: 500px;
  text-align: center;
  border:1px solid #d8e5e7;
  border-top:none;
  position: absolute;
  top:40px;
  left:0;
  background: #fff;
  z-index: 1000;
  padding:0 70px;
  padding-top:56px;
  padding-bottom: 20px;
  font-size: 13px;
  font-family: '微软雅黑';
  color: #2e3e45;
}
.advanced-box select{
  border: 1px solid #d8e5e7;
  height: 30px;
  line-height: 30px;
  width: 150px;
  padding-left: 10px;
}
.advanced-box ul {
  margin-bottom:10px;
}
.advanced-box ul li{
  display: flex;
  align-items: center;
  line-height: 40px;
}
.advance-title{
  width: 100px;
  text-align: right;
  display: inline-block;
  margin-right: 20px;
}
.advanced-input{
  width: 222px;
  height: 30px;
  border:1px solid #d8e5e7;
  padding-left:10px;
}
.searchbtn{
  display: inline-block;
  line-height: 40px;
  background: #1c94c4;
  width: 100px;
  margin-left: -8px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
}
.my-body{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.my-container{
  padding: 80px 90px;
  padding-bottom: 30px;
  height:100%;
}
.login-box{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.13);
  z-index: 1000000;
}
.login-form{
  position: absolute;
  top:50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  width: 400px;
  background: #fff;
  padding:10px 20px;
  padding-bottom: 20px;
}
.login-title{
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  /*border-bottom: 1px solid #dbdcdc;*/
}

.fork{
  cursor: pointer;
}
.user-count{
  width: 100%;
  height: 40px;
  background: url("assets/images/user.png") no-repeat left center;
  border:1px solid #ddd;
  margin-top: 30px;
  background-position-x: 10px;
  padding: 0 40px;
}
.user-psd{
  width: 100%;
  height: 40px;
  border:1px solid #ddd;
  margin-top: 30px;
  background: url("assets/images/psd.png") no-repeat left center;
  background-position-x: 10px;
  padding: 0 40px;
}
.login-state{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.forget-psd{
  color: #1c94c4;
  cursor: pointer;
}
.login{
  width: 100%;
  height: 40px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius: 8px;
  color: #fff;
  background: #1c94c4;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}
.btn-none{
  border:none;
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  font-family: '微软雅黑';
}
.btn-submit{
  width: 100px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-left: 80px;
  background: #39baf6;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  cursor: pointer;
}
.footer{
  width: 100%;
  line-height: 30px;
  border-top: 1px solid #eee;
  position: fixed;
  bottom: 0;
  color: #889294;
  background: #fff;
}

/*重写部分*/
.ng2-pagination li{
  cursor: pointer !important;
}
.ng2-pagination{
  margin-top: 1rem;
}
.ngx-datatable *, .ngx-datatable *:before, .ngx-datatable *:after{
  text-align: center;
}
.ngx-datatable .datatable-header{
  width: 100% !important;
  height: 50px;
  background: #eee;
  display: flex !important;
  align-items: center;
}
.datatable-header-inner{
  width: 100% !important;
}
.ngx-datatable.fixed-row .datatable-scroll{
  width: 100% !important;
}

/*用户信息查看*/
.info-box{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.13);
  z-index: 10000000;
}
.info-content{
  width: 50%;
  padding:30px;
  margin:0 auto;
  margin-top: 200px;
  background: #fff;
}
.mage-title{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #39baf6;
  line-height: 50px;
}
.user-info-list li{
  line-height: 40px;
  width: 100%;
  text-align: left;
  border-bottom:1px solid #efefef;
}
.user-info-list input{
  border: 2px solid #efefef;
  line-height: 30px;
}
.user-info-list input[disabled]{
  background: #fff;
  border: none;
}
.user-tag{
  display: inline-block;
  width: 156px;
  background: #f7f7f7;
  text-align: center;
  line-height: 40px;
  margin-right: 40px;
}
.edit-btn{
  cursor: pointer;
}
.save-btn{
  width: 100px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  background: #39baf6;
  margin-top: 30px;
  cursor: pointer;
}
.user-content{
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

/*上传按钮*/
.file {
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border:1px solid #ddd;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  padding:4px 12px;
  color: #1E88C7;
  text-decoration: none;
  text-indent:0;
  line-height: 20px;
}
.file input{
  width: 100%;
  position: absolute;
  left:0;
  top:0;
  opacity: 0;
}
.file:hover{
  background: #AADFFD;
  border-color: #78c3f3;
  color: #004974;
  text-decoration: none;
}
