@import '~font-awesome/css/font-awesome.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~squeezebox/styles.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */
@import "assets/css/product.css";

html {
  font-size: 24px;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: '微软雅黑' !important;
  overflow-y: scroll;
}

p, div, section, ul, ol, li, input, textarea, select, a, i, span, img, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

input, textarea, a, ul, li, select {
  font-family: 'Microsoft YaHei';
}

*::-moz-placeholder {
  font-family: 'Microsoft YaHei';
}

*:-ms-input-placeholder {
  font-family: 'Microsoft YaHei';
}

*::-webkit-input-placeholder {
  font-family: 'Microsoft YaHei';
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: 'Microsoft YaHei';
}

p {
  font-family: 'Microsoft YaHei';
}

img {
  vertical-align: middle;
}

i {
  font-style: normal;
}
input[type=submit],input[type=reset],input[type=button],input[type=text]{
  -webkit-appearance:none;
  border-radius: 0;
}
button:focus{
  outline: none;
}
.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mt10 {
  margin-top: 10px;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.font20 {
  font-size: 20px;
}

.font24 {
  font-size: 24px;
}

.text-color-dark {
  color: #333;
}

.text-color-middle {
  color: #666;
}

.text-color-light {
  color: #999;
}

.color-blue {
  color: #39baf6;
}

.color-gray {
  color: #676767;
}

.color-orange {
  color: #ffa54e;
}

.color-red {
  color: red;
}

.color-bluelight {
  color: #adc9d5;
}

.green {
  color: #46b069;
}

.bg-lightblue {
  background: #c3e2f0 !important;
}

.text-center {
  text-align: center;
}

.text-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

select {
  font-family: '微软雅黑';
  border: 1px solid #ddd;
  /*将默认的select选择框样式清楚*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*background-position: 100;*/
  padding-right: 20px !important;

}

select:focus{
  outline: 0 none;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

textarea::-webkit-scrollbar-track {
  border: 1px solid #f5f5f5;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

/*三角形*/
.triangle-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 11px solid #ddd;
}

/*common style*/
.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '';
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.ysl-no-padding{
  padding: 0;
}
.ysl-text-orange {
  color: #ff4307;
}

.ysl-text-dark-blue {
  color: #070224;
}

.btn:focus, .btn:active {
  outline: none;
}
.btn:active:focus{
  outline: none;
}
.disabled {
  cursor: not-allowed !important;
}

.ysl-btn {
  font-family: 'Microsoft YaHei';
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.ysl-btn:focus {
  border: none;
  outline: none;
}

.ysl-btn-xs {
  padding: 4px 12px;
  font-size: 12px;
}

.ysl-btn-md {
  padding: 5px 12px;
  font-size: 14px;
}

.ysl-btn-lg {
  height: 40px;
  width: 260px;
  font-size: 16px;
}
.ysl-btn-primary{
  background-color: #39baf6;
  color: #fff;
}

.ysl-pointer {
  cursor: pointer;
}

.ysl-checkbox-group {
  padding-left: 10px;
}

.ysl-checkbox-group label {
  display: flex;
  align-items: center;
  font-weight: normal;
}

.ysl-checkbox-group input {
  display: none;
}

.ysl-checkbox-group input + span {
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid #d8e5e7;
  position: relative;
  margin-right: 8px;
}

.ysl-checkbox-group [type=checkbox]:checked + span:after {
  content: "√";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ysl-container {
  width: 100%;
  padding: 0 18.75%;
}

.ysl-select-group {
  padding: 0;
  position: relative;
}

.ysl-select-group select {
  background-color: transparent;
  position: relative;
  z-index: 20;
}

.ysl-select-group .triangle-down {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.ysl-error-tip {
  text-align: center;
  color: #ff4307;
}

/*日期选择器*/
.calendar {
  width: 160px;
  display: inline-block !important;
}

.search-box .mydp {
  border-radius: 0;
  border-color: #d8e5e7;
}

.search-box .mydp input {
  height: 28px !important;
}

.search-box .selbtngroup {
  height: 28px !important;
}

.search-box .btnpicker {
  border-radius: 0;
}
.operation-product-errata .calendar{
  width: 105px;
  height: 30px;
}
.operation-product-errata .selectiongroup{
  border-radius: 0 !important;
}
.operation-product-errata .mydp{
  border-color: #c1dce8;
}
.operation-product-errata .mydpicon{
  color: #666;
}
.operation-product-errata .mydp .selection,.operation-product-errata .mydp .selbtngroup{
  height: 30px !important;
  border-radius: 0 !important;
}
.triggle-position {
  position: absolute;
  right: 15px;
  cursor: pointer;
  top: 50%;
  transform: translate(0, -50%);
}

.my-body {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.my-container {
  padding: 80px 90px;
  padding-bottom: 30px;
  height: 100%;
}

.fork {
  cursor: pointer;
}

.btn-none {
  border: none;
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  font-family: '微软雅黑';
}

.btn-submit {
  width: 100px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-left: 80px;
  background: #39baf6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/*个人中心nav*/
.ysl-sidebar-nav {
  display: flex;
  width: auto;
  margin-bottom: 0;
}

.outer-nav .ysl-sidebar-nav {
  justify-content: center;
}

.inner-nav .ysl-sidebar-nav {
  border-bottom: 1px solid rgba(77,171,238,0.5);
}

@media screen and (max-width: 450px) {
  .inner-nav .ysl-sidebar-nav {
    padding: 0;
  }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  .inner-nav .ysl-sidebar-nav {
    padding: 0;
  }
}

@media screen and (min-width: 800px) {
  .inner-nav .ysl-sidebar-nav {
    padding: 0 50px;
  }
}

.inner-nav .ysl-sidebar-item {
  font-size: 16px;
  padding:0 15px;
}

@media (max-width: 375px) {
  .inner-nav .ysl-sidebar-item {
    font-size: 16px;
    padding:0 8px;
  }
}

@media (max-width: 1024px) {
  .inner-nav .ysl-sidebar-item {
    /*font-size: 16px;*/
  }
}

.ysl-sidebar-item {
  text-align: center;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
}

.outer-nav .ysl-sidebar-item {
  width: 129px;
  font-size: 16px;
  position: relative;
  background-color: #fff;
  border-top: 1px solid #b8c4ce;
  border-bottom: 1px solid #b8c4ce;
  border-right: 1px dashed #b8c4ce;
}

.outer-nav .ysl-sidebar-item:first-of-type {
  border-left: 1px solid #b8c4ce;
}

.outer-nav .ysl-sidebar-item:last-of-type {
  border-right: 1px solid #b8c4ce;
}

.ysl-sidebar-item .primary-nav {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.outer-nav .active .primary-nav {
  color: #39baf6;
  border-bottom: 3px solid #39baf6;
}
.inner-nav .active{
  border-bottom: 2px solid #39baf6;
}
.inner-nav .active .primary-nav {
  color: #39baf6;
}

.outer-nav .ysl-sidebar-sub {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background: #f3f8fa;
  color: #666;
  text-align: center;
  outline: none;
}

.outer-nav .ysl-sidebar-sub li {
  outline: none;
  width: 100%;
  line-height: 50px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  line-height: 22px;
  position: absolute;
  bottom: 0;
  color: #a79f9f;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer ul {
  display: flex;
  margin-bottom: 0;
}

.footer li {
  height: 12px;
  line-height: 12px;
  border-right: 1px solid #a79f9f;
  padding: 0 6px;
}

.footer li:last-of-type {
  border-right: 0;
}

.footer a {
  color: #a79f9f;
}

.footer p {
  margin-bottom: 0;
  line-height: 14px;
}
.footer .tel{
  margin-top: 5px;
}

.footer-top {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.footer .logo {
  display: inline-block;
  height: 22px;
}
.footer .logo img{
  height: 100%;
  width: auto;
  margin-top: -6px;
}

/*重写部分*/
.ngx-pagination li {
  cursor: pointer !important;
}

.ngx-pagination li a {
  padding: 0.333rem 0.5rem;
}
.ngx-pagination li a:hover{
  text-decoration: none;
}

.ngx-pagination {
  margin-top: 0.75rem;
  display: flex;
}

.ngx-pagination .current {
  background-color: #ff4307 !important;
  padding: 0.333rem 0.5rem !important;
}

.pagination-previous a:before, .pagination-next a:after {
  display: none !important;
}

.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
  display: none !important;
}

.ngx-pagination .pagination-previous a::after, .ngx-pagination .pagination-previous.disabled::after {
  display: none !important;
}

.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
  display: none !important;
}
.ysl-info-wrapper .ngx-pagination{
  justify-content: flex-end;
}

.ngx-datatable *, .ngx-datatable *:before, .ngx-datatable *:after {
  /*text-align: center;*/
}

.ngx-datatable .datatable-header {
  width: 100% !important;
  height: 50px;
  background: #eee;
  display: flex !important;
  align-items: center;
}

.datatable-header-inner {
  width: 100% !important;
}

.ngx-datatable.fixed-row .datatable-scroll {
  width: 100% !important;
}

.dataShow .mat-sidenav, .dataShow .mat-sidenav-content {
  height: calc(100vh - 60px);
}

.dataShow .mat-sidenav {
  margin-left: -15px;
  padding: 0 15px;
}

.mat-sidenav-container {
  z-index: 2;
}

.mat-sidenav-container .mat-sidenav-content {
  margin-right: -15px;
}

.mat-sidenav-container .mat-sidenav-content::-webkit-scrollbar {
  color: transparent;
}

.mat-sidenav-container .mat-sidenav-content::-webkit-scrollbar-corner {
  color: transparent;
}

.index-cont .mat-ripple-element {
  display: none !important;
}

.squeezebox .sb-item .sb-item-head a .toggle-icon {
  display: none;
}

.squeezebox sb-item:first-child .sb-item {
  border: none;
}

.squeezebox .sb-item {
  border: none;
}

.squeezebox .sb-item-head a {
  color: #999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.squeezebox .sb-item-head a:hover {
  text-decoration: none;
}

.dataShow squeezebox {
  width: 100%;
}

.squeezebox .sb-item .sb-item-body {
  transition: none;
  height: auto !important;
}

.squeezebox .is-collapsed .sb-item-body {
  height: 0 !important;
}

.squeezebox .is-collapsed .fa-angle-up {
  transform: rotate(180deg);
}
.ysl-snack-bar{
  position: absolute;
  bottom: calc(100vh / 2);
  left: calc(100vw / 2 - 168px);
  transition: none !important;
}
.ysl-snack-bar .mat-simple-snackbar{
  justify-content: center;
}

/*loadding*/
.loading-wrap{
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-wrap .spinner {
  margin: 100px auto;
  width: 20px;
  height: 20px;
  position: relative;
}

.loading-wrap .container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #333;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.loading-wrap .spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loading-wrap .container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.loading-wrap .container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.loading-wrap .circle1 { top: 0; left: 0; }
.loading-wrap .circle2 { top: 0; right: 0; }
.loading-wrap .circle3 { right: 0; bottom: 0; }
.loading-wrap .circle4 { left: 0; bottom: 0; }

.loading-wrap .container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loading-wrap .container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.loading-wrap .container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loading-wrap .container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.loading-wrap .container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.loading-wrap .container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.loading-wrap .container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.loading-wrap .container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.loading-wrap .container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.loading-wrap .container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.loading-wrap .container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

/*产品列表*/
.dataShow .data-item h3 .highlight{
  color: #ff4307;
}
.dataShow .data-item .data-content .highlight{
  color: #ff4307;
}
/*产品详情*/
.data-detail .comment-wrapper .spinner {
  margin: 10px auto;
}

.data-detail .comment-wrapper .container1 > div, .data-detail .comment-wrapper .container2 > div, .data-detail .comment-wrapper .container3 > div {
  background-color: #39baf6 !important;
}

/*用户信息查看*/
.info-content {
  width: 50%;
  padding: 30px;
  margin: 0 auto;
  margin-top: 200px;
  background: #fff;
}

.user-content {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

/*上传按钮*/
.file {
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 12px;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
}

.file input {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.file:hover {
  background: #AADFFD;
  border-color: #78c3f3;
  color: #004974;
  text-decoration: none;
}

.outer-wrapper {
  display: block;
  min-height: 100vh;
  padding-bottom: 60px;
  position: relative;
}

/*nav*/
my-nav {
  /*border-bottom: 1px solid rgba(255,255,255,0.2);*/
  width: 100%;
}

my-nav {
  display: block;
}

my-nav search-input {
  width: 58%;
  min-width: 212px;
}

my-nav .search-box {
  width: 100% !important;
  margin-bottom: 0 !important;
}

my-nav .searchbtn {
  justify-content: center;
}

/*index*/
app-index .mat-tab-body-content {
  overflow: visible;
}

app-index .mat-tab-body.mat-tab-body-active {
  overflow-y: hidden !important;
}

app-index .mat-ripple {
  overflow: visible;
}

.ysl-label-search-area {
  width: 53%;
  margin: 0 auto;
}

.ysl-label-search-area .mat-tab-labels {
  height: 52px;
  justify-content: space-between;
}

.ysl-label-search-area .mat-tab-header-pagination {
  height: 34px;
}

.ysl-label-search-area .mat-tab-label {
  min-width: 108px !important;
  height: 34px !important;
  border-radius: 32px;
  padding: 0 14px !important;
  color: #fff !important;
  opacity: 1 !important;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 5px;
}

.ysl-label-search-area .mat-tab-label:last-of-type {
  margin-right: 0;
}

.ysl-label-search-area .mat-tab-label-active {
  background-color: #fff !important;
  color: #ff7800 !important;
}

.ysl-label-search-area .mat-tab-label:before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  background-color: #fff;
  border-radius: 100%;
  margin-right: 10px;
}

.ysl-label-search-area .mat-tab-label-active:before {
  background-color: #ff7800;
  margin-right: 10px;
}

.ysl-label-search-area .mat-tab-label-active:after {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-top-color: #fff;
  position: absolute;
  left: 50%;
  top: 34px;
  transform: translate(-50%, 0);
}

.ysl-label-search-cont {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.ysl-label-search-cont li {
  display: flex;
  align-items: center;
  height: 28px;
  line-height: 28px;
  border-radius: 10px;
  background-color: rgba(246, 249, 250, 0.05);
  padding: 0 20px;
  margin: 0 5px 10px 0;
  cursor: pointer;
  color: #bdbaba;
}

.ysl-label-search-cont li:hover {
  color: #fff;
}

.ysl-label-search-area .mat-ink-bar {
  display: none;
}

.ysl-label-search-area .mat-tab-body-wrapper {
  padding-top: 30px;
  margin-top: -19px;
}

.user-center-cont {
  background-color: #FFFFFF;
}

/*管理、个人中心列表*/
.ysl-info-wrapper{
  padding: 20px;
}
.ysl-list-item{
  border: none;
  background-color: #f6faf9;
  padding: 15px;
  margin-bottom: 10px;
}
.ysl-list-item:last-of-type{
  margin-bottom: 0;
}
.ysl-list-item .user-name{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}
.ysl-list-item .product-name a{
  cursor: pointer;
}
.ysl-list-item .product-name a:hover{
  text-decoration: underline;
}

/*个人中心公用*/
@media screen and (max-width: 450px) {
  .user-center-cont {
    padding: 0;
  }

  .user-center-cont .inner-cont {
    padding: 0;
  }

  .user-cont {
    padding: 0;
  }
}

@media screen and (min-width: 451px) and (max-width: 768px) {

  .user-cont {
    padding: 0;
  }

  /*.user-center-cont {*/
    /*padding: 15px 40px 40px;*/
    /*background-color: #fff;*/
  /*}*/

  .user-center .inner-cont {
    margin-top: 20px;
    padding: 40px 50px;
    background-color: #f9fbfb;
  }
}

@media screen and (max-width: 1200px) {
  .ysl-container {
    padding: 0 5%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 20px;
  }

  .ysl-container {
    padding: 0 16px;
  }

  footer{
    height: 94px;
  }
  .footer {
    font-size: 12px;
  }

  my-nav search-input {
    width: 75%;
  }

  my-nav search-input .keyword-search .search-input {
    padding-right: 10px;
  }

  .ysl-label-search-area {
    width: 100%;
  }

  .ysl-label-search-area .mat-tab-labels {
    justify-content: flex-start;
    overflow-y: hidden;
  }

  .ysl-label-search-area .mat-tab-label {
    border-radius: 0;
  }

  .ysl-label-search-area .mat-tab-label-active:after {
    display: none;
  }

  .ysl-label-search-area .mat-tab-label-container {
    overflow: scroll;
  }

  .ysl-label-search-area .mat-tab-label-container::-webkit-scrollbar, .mat-tab-labels::-webkit-scrollbar {
    color: transparent;
  }

  .ysl-label-search-area .mat-tab-label-container::-webkit-scrollbar-corner, .mat-tab-labels::-webkit-scrollbar-corner {
    color: transparent;
  }

  .user-center .inner-cont {
    padding: 20px 20px;
  }
  .ysl-info-wrapper{
    padding: 10px 0;
  }
  .operation-product-errata .mydpicon{
    font-size: 12px;
  }
  .operation-product-errata .second-date .selector{
    left: -137px;
  }
  .operation-product-errata .second-date .mydp .selectorarrowleft:after,.operation-product-errata .second-date .mydp .selectorarrowleft:before{
    left: 224px;
  }
}



